[2012-04-25 05:50] SquidPony opened #1 "change subText to something more descriptive"
setSubText places the provided char[][] into the grid, but "subText" is not a good descriptive name

maybe setSubTextGrid()?

[2012-04-25 05:56] SquidPony opened #2 "consider new verb to replace "set""
setBlock makes sense, but setString, setSubText, and setText are awkward

maybe use "place" instead of set

[2012-04-25 05:58] SquidPony opened #3 "frame factory"
create a JFrame factory that does the standard initialization and puts the panel in it so the lib user doesn't have to know anything about Swing to use the panel

[2012-04-25 06:04] SquidPony opened #4 "more options for placing strings"
should be able to set fore and back colors for strings, as well as an option for them to be vertical

[2012-04-25 06:05] SquidPony opened #5 "relax location enforcement"
for any method that lays down more than one block, the start location should be allowed to be off the edge of the grid, with only those characters inside the grid being used

[2012-04-25 06:06] SquidPony opened #6 "overscan"
consider allowing an overscan option where the panel displays only a certain amount of the backing grid at any given time, with the ability to adjust the offset in the backing grid for display

should allow some sort of default backing to be displayed when the edge of the backing grid is within the displaying grid

[2012-04-25 06:32] SquidPony opened #7 "add ability to have float text"
this would include placement, color, size, duration, and animation

animation should probably be a set of enum constants

[2012-04-25 06:33] SquidPony opened #8 "add ability to load graphics in place of characters"
title says it all

[2012-04-25 06:35] SquidPony opened #9 "add ability to animate tile"
this could be done by allowing multiple images to be loaded for a tile and then looped, or an enum set of standard animations (jitter, squishing, etc) could be applied

[2012-04-25 06:37] SquidPony opened #10 "add ability to set multiple layers in the tile"
separate background and foreground images at least, perhaps an arbitrary amount of images layered in some order

should the order be a predetermined set (background, terrain, items, creature, etc) or open ended?

[2012-04-25 06:38] SquidPony opened #11 "add mouse support"
this is a large enhancement which should be broken into multiple smaller enhancements when work on it begins

[2012-04-25 06:40] SquidPony opened #12 "add sound support"
may not fit in the theme of this library....

[2012-04-25 06:46] SquidPony opened #13 "add ability to clone panel"
The clone should have a copy of the backing contents.

Probably should have the option to both create a new panel as a clone and some sort of "checkpoint" one step save/restore functionality within the panel.

Should checkpoint functionality have multiple optional checkpoints?

[2012-04-25 16:19] SquidPony opened #14 "default colors"
Need to finish code to allow default background and foreground color setting. Setting methods currently have no effect.

[2012-04-25 16:49] Talon876 opened #15 "Small demo app"
Could you add a small demo app that shows some of the main functionality of the library?

[2012-04-25 22:13] #14 closed, assigned to SquidPony

[2012-04-25 22:13] #5 closed, assigned to SquidPony

[2012-04-25 22:14] #2 closed, assigned to SquidPony

[2012-04-25 22:14] #1 closed, assigned to SquidPony

[2012-04-25 22:21] #4 closed, assigned to SquidPony

[2012-04-25 22:41] SquidPony opened #16 "color crazy strings"
add the ability to pass in an array of colors for the foreground and background to colorize when a string prints

[2012-04-26 06:51] SquidPony opened #17 "keyboard reading"
ability to get input from the keyboard

[2012-04-26 06:53] SquidPony opened #18 "user preference saving support"
support long-term persistent storage of everything from keybindings to arbitrary perferences

[2012-04-26 06:54] SquidPony opened #19 "window persistant consistancy"
get the window to open back up to the same location and dimensions (when appropriate) when reopened later on the same machine

[2012-04-26 06:58] SquidPony opened #20 "visible cursor"
make a cursor appear on the screen

while the cursor is active, movement keys might simply redirect to moving the cursor at the panel level rather than feeding back to the game

need to include a way to cancel the cursor and get the cursor's location

need to include a way to set the cursor colors/appearance/animation

[2012-04-26 07:21] SquidPony opened #21 "threaded container"
add an option to start the panel up in its own thread to prevent blocking issues, allowing people without threading knowledge to not have to worry about it

should include a blockingqueue message passing system for input/output

[2012-04-26 07:27] SquidPony opened #22 "improved random function"
implement something better than the standard random function

relatively low priority since standard is adequate for most game purposes

[2012-04-26 07:35] SquidPony opened #23 "pixel resolution drawing options"
allow intra and inter cell drawing at pixel resolution

[2012-04-26 07:40] SquidPony opened #24 "Perlin Noise"
randomized noise algorithm implementation

[2012-04-26 07:42] SquidPony opened #25 "heightmap toolkit"
easy methods to create heightmaps of arbitrary size

[2012-04-26 07:43] SquidPony opened #26 "field of view algorithms"
implementation of FOV algorithms allowing semi-arbitrary vision constraints

[2012-04-26 07:45] SquidPony opened #27 "path finding algorithms"
some examples might be:

A*
Dijkstra
Q-Learning
Value Iteration

given arbitrary data sets with reward mappings

[2012-04-26 07:48] SquidPony opened #28 "terrain map generation algorithms"
a variety of tunable algorithms for exteriors and interiors, both natural and constructed

[2012-04-26 07:53] SquidPony opened #29 "random name generator/modifier"
should allow a variety of input styles and be tunable

[2012-05-09 01:58] SquidPony opened #30 "placeHorizontalString places vertically"

[2012-05-12 07:02] SquidPony opened #31 "spinning characters/numbers"
it would be nice to have the ability to provide a number to be "spun" to and have the lib automate the animation for it

arbitrary character strings could also be useful

timing information should be optionally set

[2012-07-06 06:33] #30 closed, assigned to SquidPony

[2013-01-05 03:47] #8 closed, assigned to SquidPony

[2013-01-05 03:48] #11 closed, assigned to SquidPony

[2013-01-05 03:49] #17 closed, assigned to SquidPony

[2013-01-05 03:50] #23 closed, assigned to SquidPony

[2013-01-05 03:51] #15 closed, assigned to SquidPony

[2013-01-05 04:00] #21 closed, assigned to SquidPony

[2013-01-05 04:03] #10 closed, assigned to SquidPony

[2013-01-09 06:57] #26 closed, assigned to SquidPony

[2013-01-19 02:25] ghost opened #32 "Monochromatic bitmap"
Allow the printing of monochromatic bitmaps with arbitrary background and foreground.

[2013-01-25 13:12] ghost opened #33 "RNG relies on java.util.Random"
Which the internet tells me is not very random.

http://blog.uncommons.org/2008/04/03/a-java-programmers-guide-to-random-numbers-part-1-beyond-javautilrandom/

I had sort of noticed this with my tree placer algorithms.

So, solutions -
1. user SecureRandom, which is slow
2. Import a third party lib, like that uncommons math lib.

Thoughts?

[2013-01-26 02:19] #33 closed, assigned to nobody

[2013-03-11 19:12] SquidPony opened #34 "automatic scaling"
When a panel is resized, the grid / font should be resized accordingly

[2013-08-05 06:56] SquidPony opened #35 "Keypress repeating automated"
The key listener should have an option where it will queue repeated keys while they are held down (at a user settable rate) but flush those keys completely when the key is lifted.

Issue to consider: What if multiple keys are held and only some released and/or new ones held during previous holding?

Choices:
1) Only most recent key is tracked
2) Keys are repeated in order of original pressing and

[2013-12-09 23:38] sorrge opened #36 "Redundant .zip file"
The .zip file has a copy of the entire repository and is redundant; when I clone the repo I basically download everything twice. In GitHub there is a button to download the entire repository as .zip anyway, so this could be used by people who want the archive.

[2013-12-19 00:23] #36 closed, assigned to SquidPony

[2013-12-29 00:42] tommyettinger opened #38 "Maven project (maybe erroneously) requires JRE 7 or higher"
Under <artifactId>maven-compiler-plugin</artifactId> in the pom.xml , source and target list the JRE versions of the source and target as 1.7.  However, I don't know if SquidLib needs 1.7 for either of these, and 1.7 doesn't exist on older Mac OS X versions (OS X 10.6 I think doesn't have it).  This is probably my fault, I think I used a bad template for the pom and didn't check the version.  If S

[2013-12-31 12:42] #38 closed, assigned to nobody

[2014-01-10 10:48] ghost opened #39 "No jar or java docs"
Back in the day you could clone the whole thing and there was a jar inside it. also an index.html for your lovely docs. I'll try and fix myself at some point

[2014-02-11 05:22] #22 closed, assigned to SquidPony

[2014-02-11 05:24] #12 closed, assigned to SquidPony

[2014-02-11 05:29] #9 closed, assigned to SquidPony

[2014-02-11 05:31] SquidPony opened #40 "Add ability to have animated color changes on a per-tile basis"
This would mean setting a start and end color (or perhaps keyframe colors) and a requested timing value. In Swing the timing value would only be very approximate, but for single events this could be useful.

[2014-03-05 10:22] #19 closed, assigned to SquidPony

[2014-03-11 00:10] SquidPony opened #41 "Sweep for interface incompleteness / redundancies"
The entire library needs to be swept for methods that are missing (and RFEs added for them) and possible redundancies (with bug reports for them)

[2014-03-11 00:20] SquidPony opened #42 "SGPane should take any direction text"
replace current vertical and horizontal methods with a single one that takes Direction as input

[2014-03-11 01:31] SquidPony opened #43 "SColor.TRANSPARENT acting like BLACK"

[2014-03-11 01:32] #43 closed, assigned to SquidPony

[2014-03-14 16:19] SquidPony opened #44 "getGlyphPixelBounds is a bottleneck"
TextCellFactory initialization is currently bottlenecked largely at getGlyphPixelBounds. See if other methods will take less running time to find the bounds.

[2014-07-12 02:58] SquidPony opened #45 "Support Dwarf Fortress font sheets"
using a pre-built translation table and the image font builder, df font sheets could be pre-supported for easy use by devs

[2014-07-29 21:38] #39 closed, assigned to nobody

[2014-07-29 21:39] #29 closed, assigned to SquidPony

[2014-07-29 21:40] #13 closed, assigned to SquidPony

[2014-07-29 21:41] #24 closed, assigned to SquidPony

[2014-07-29 21:43] #20 closed, assigned to SquidPony

[2014-07-29 21:43] #7 closed, assigned to SquidPony

[2014-07-31 08:01] SquidPony opened #46 "Support external palette files"
This should include the kinds that are available from http://www.colourlovers.com/ and similar sources if possible. Using a proprietary specification is not worth doing and would hinder useability.

[2014-07-31 08:03] SquidPony opened #47 "Releases are out of order"
this requires untagging and retagging the commit

[2014-08-01 20:53] SquidPony opened #48 "Sweep for license information correctness"
The external license text file should refer to the correct package structure once release stage is reached.

[2014-08-06 01:12] SquidPony opened #49 "Check cuttlebone generation algorithms and determine what to use"
Probably going to be best to provide overloads so that the speed of byte arrays can be used if they'll work, but the flexibility of String arrays can be used if it's needed.

[2014-08-23 08:57] SquidPony opened #50 "Usage Guides"
Need guides for setup and basic use in Eclipse and NetBeans. Other IDEs would be nice if possible, but since my own experience in Java is only in those two it'll probably just be them.

[2014-08-25 13:56] SquidPony opened #51 "Pull Random implementations from math commons"

[2014-08-25 13:57] SquidPony opened #52 "Pull Shape implementation from commons math"
This includes identifying what shape methods make sense in a grid world.

[2014-08-25 13:58] SquidPony opened #53 "Adjust dungeon generation to use Shapes taken from commons math"

[2014-08-25 13:59] SquidPony opened #54 "Add lighting techniques for colors similar to those used in rot.js"

[2014-08-29 18:02] SquidPony opened #55 "add random.onUnitSphere"
Should output a random point in the shape, evenly distributed.

[2014-09-02 07:42] #55 closed, assigned to SquidPony

[2014-09-02 07:44] #51 closed, assigned to SquidPony

[2014-10-24 22:00] Blrp329 opened #56 "Painting a cell character, background, foreground colors?"
Hey! I've started using SquidLib on a RogueLike I'm developing. I'm still feeling my way around.
To draw my game, I've been using the following liberally:
SwingPane.put(x, y, character, character_color)
Would it be possible to implement:
SwingPane.put(x, y, character, character_color, background_color, foreground_color)
Or is there already a way to do this? Is it already contained in a demo somewh

[2014-11-03 23:17] #56 closed, assigned to SquidPony

[2014-11-03 23:24] SquidPony opened #57 "TextCellFactory should use a builder instead of exploding constructors"
The addition of more options to the construction of TextCellFactory objects has made for an unwieldy number of constructors. A Builder object is probably the appropriate approach since the factory should be consistent across all panels it is used in and method chaining would support the idea that the factory is adjustable post-creation.

[2014-11-04 00:34] #57 closed, assigned to SquidPony

[2014-11-15 19:44] pakoito opened #58 "Add a maven/gradle export"
Would it be possible to add this library to a maven repository for other projects to import, rather than fat jars?

[2014-11-16 01:49] #58 closed, assigned to nobody

[2015-01-18 20:24] SquidPony opened #59 "Allow options world wrapping for FOV algorithms"
It would be nice if the user could set the FOV algorithms to world wrap when it hits edges rather than stopping hard.

Tricky bits include how light will blend if it effectively comes from two directions into the same space.

[2015-01-19 02:15] SquidPony commented on #59
This requires either bulky additions to the space complexity to mirror the world for wrapping (perhaps several times if the radius is much larger than the world size) or it requires the lit squares to track the direction their lit from.

This is now on hold until directional light tracking is added for some other reason (thin walls maybe).

[2015-03-05 10:03] MichielDeCuyper opened #60 "Tile-specific background and Tile-width"
Hello,

I just downloaded your awesome-looking library. I have two questions, concerning features I don't find the correct functionality for. I'm using v2.2:

* You promise a way to set the background-color of a tile on a tile-specific base. In v2.2, using a SquidPanel , I can't find a way to make this work. I can use setBackground(SColor color) but that's for the whole screen.

* When using a 14p

[2015-03-05 19:07] SquidPony commented on #60
For the first point you're right that that promise is out of date. You can now actually have as many layers as you want and put a color or character in each. I'll update that with more explanation within the next day.

As for sizing exactly to a font, set the font in the builder but don't set a width or height and it will size to fit the font as fully as possible.

I see that the sizing behavior i

[2015-03-06 06:38] SquidPony commented on #60
I've updated the features list so that it more accurately reflects the current state of having multiple layers instead of being locked into only two.

I've also added some documentation regarding the sizing behavior when height and width are not passed in.

On a side note: it's impossible to manually know what size the cell will need to be to exactly fit a given font size since different systems c

[2015-03-06 06:38] #60 closed

[2015-04-03 01:48] tommyettinger opened #61 "Brevity is the soul of wit."
I'm really struggling with the direction SquidLib started heading towards around the time of the 2.0 release. I'd be OK with writing slightly more code if the functionality was the same, or only added to... But some things that are actually important to me got removed, and like Steve Ballmer spitting in the face of an amputee, in SquidLib 2.2 I have to go through a layer of enterprise nastiness to

[2015-04-03 04:04] SquidPony commented on #61
TL:DR - I mostly agree with this, but it ended up with a Builder for what seemed like good reasons at the time. It's entirely possible however that a different approach would be better. One of those reasons is that the sizing in the factory needs all the details before it sizes and making setters implies that those things can be changed after the factory is created. This would probably be fine if

[2015-04-03 04:15] SquidPony commented on #61
Oh, and to answer the question regarding font size, the way you have it there should give exactly the same output as previously. If it doesn't then that's a bug in either 1.95.1 or 2.2 (or both).

There could be an option to force font size, even if it might be too large theoretically, but that's adding to the  Builderness of it that's a concern.

[2015-04-03 05:43] SquidPony commented on #61
Okay, Phase 1 cleanup already, removed TextCellFactoryBuilder, pushing its functionality into TextCellFactory and streamlining a bit with SquidPanel's constructors.

I'll close this once I make some issues for the other things brought up.

[2015-04-04 00:12] SquidPony commented on #47
at this point, not going to worry about it since the newest one is in the right place

[2015-04-04 00:12] #47 closed

[2015-04-04 00:46] tommyettinger commented on #49
I actually imported the newest cuttlebone strategies last night. This should be able to generate the same styles as stb_herringbone_wang, the original herringbone Wang tile dungeon generator library for C, but without image processing in the stb library's unusual style. It only generates '#' and '.' maps as char [][], but you can run DungeonUtility.hashesToLines () on a char [][] map to get unicod

[2015-04-04 00:46] #49 closed

[2015-04-04 01:11] SquidPony opened #62 "Allow some means to have images placed that are larger than a cell."
This would require some sort of anchor notation attached or defaulted...

This might be better set up as simply a swing pane by the user and manual placing. Use cases would have to be fleshed out to really understand the best approach to supporting it.

[2015-07-07 01:02] tommyettinger commented on #46
I'm starting some very preliminary work on this; now put methods in SquidPanel can take (char, int, List<Color>) or (char, int[][], List<Color>) in addition to x and y and such.  The int is just an index into the List<Color>, so this should be extremely simple to deal with from the programmer's side (as long as he/she doesn't remove colors from the List), and maybe won't even need an external form

[2015-07-07 01:40] tommyettinger opened #63 "SquidPanel helper class to allow conventional BG/FG setting"
I'm planning to start implementing this soon (SquidLayers), because I see some uses for this in a game of mine. I think I can create a JLayeredPane of SquidPanel items, with a few background layers, a default foreground layer, and additional layers if requested. I could have alpha transparency for the higher background layers to allow things like lighting or ripples in water. (I assume backgrounds

[2015-07-12 10:29] tommyettinger commented on #63
Implemented as SquidLayers in 2.3.1.

[2015-07-12 10:29] #63 closed

[2015-08-12 21:07] devilbuddy opened #64 "Android support"
It would be really cool to get rid of the java.awt dependencies to be able to use this seemingly excellent library on android.

Getting rid of awt dependencies in the algorithm implementations (java.awt.Point mainly)
Splitting the awt rendering parts into a separate library depending on the "core" library

Not sure how big the effort would be though...

[2015-08-12 23:59] tommyettinger commented on #64
I agree here, and it should be actually fairly easy to add a Point2D class (I already did it in an earlier library, cuttlebone, that was merged into SquidLib earlier, though a lot has been improved in that code since I last committed anything to cuttlebone). Splitting up rendering is a bigger challenge. Dealing with the very different Maven artifacts I would be publishing could be a bigger hassle.

[2015-08-23 19:24] davidbecker opened #65 "FOV - shadowcasting seems to be broken for infinite radius"
I played around with this library a little and noticed the following:
I created a new Dungeon with DungeonGenerator and an input map with the dimensions 60*40. There weren't any other settings set, so it is a fairly open map.

When I now compute the FOV(created with new FOV(FOV.SHADOW) ) with:

[code]

my game becomes unresponsive after a few turns. I don't run into problems when I create the FOV

[2015-08-24 05:48] tommyettinger commented on #65
Hm, can you investigate the resistance map? If it was generated from the dungeon using `DungeonUtility.generateResistances(char[][])`, and the `char[][]` is from DungeonGenerator, then the map should be bounded (1.0 or greater for walls and walls around all edges). I didn't write the shadowcasting code, and I don't claim to really know how it works, but I suspect that if the map is not bounded it

[2015-08-24 07:21] smelc commented on #65
First, thank you @tommyettinger for you work on squidlib, it is a pleasure to have such a library freely available !

I witness this bug often too, in squidlib 2.3.1 (and I was about to update to 2.9 to see if it got fixed); and it seems to me the algorithm is going outside the map. Like @dasmau89, I use `DungeonGenerator`, without any options. Here's a screenshot where I hit the bug (fov slightly

[2015-08-24 12:07] dasmau89 commented on #65
@tommyettinger I didn't create the resistance map with DungeonUtil, but filled it when I parsed the map "by hand" with 1.0 for '#' and 0.0 for '.' - which should result in the same array. I will change this part of my code to use DungeonUtil when I get home and report back.

[2015-08-25 00:39] tommyettinger commented on #65
Thanks for the hotfix, @dasmau89 , I have it committed with one update (a 60x40 grid with no obstacles needs more than 60 radius to reach from corner to corner with Euclidean or Manhattan distance, but you're right that the width and height are the answer; I believe width + height should be enough every time for shadowcasting). I'm leaving this open until I can confirm that this reliably fixes the

[2015-08-25 17:55] dasmau89 opened #67 "Gdx EverythingDemo - ArrayIndexOutOfBoundsException when spinning mous around player"
I get an exception with the following stacktrace in the EverythingDemo when I spin the mouse around the player for a while:

Exception in thread "LWJGL Application" java.lang.ArrayIndexOutOfBoundsException: 30
	at squidpony.gdx.examples.EverythingDemo$2.mouseMoved(EverythingDemo.java:257)
	at squidpony.squidgrid.gui.gdx.SquidMouse.mouseMoved(SquidMouse.java:183)
	at squidpony.squidgrid.gui.gdx.Squ

[2015-08-26 03:56] tommyettinger commented on #67
I just committed a fix for this. It turned out to be a surprisingly obvious mistake in retrospect; I was clamping the values that would be passed to SquidMouse's InputAdapter, but accidentally including the upper bound (here, 30, which is too large for the array). Thanks for spotting this; I'm going to need to ramp up my time spent on bugfixing if it turns out I've made too many mistakes like this

[2015-08-26 03:56] #67 closed

[2015-08-26 15:43] dasmau89 commented on #67
wow, @tommyettinger I must say that the speed of your work amazes me :)

[2015-08-26 16:22] davidbecker opened #68 "Gdx EverythingDemo - Translation Screen coordinates <--> Tiles broken"
as I mentioned in #67 the translation from screen coordinates to tiles is off.
First image: mouse is directly hovering over the player tile:
![gdx01mouseoverplayer](https://cloud.githubusercontent.com/assets/1927731/9499284/f2bd73c6-4c1e-11e5-9930-2eea8784d306.png)
Second Image: mouse was moved one tile to the north:
![gdx02mouseonetileaboveplayer](https://cloud.githubusercontent.com/assets/192773

[2015-08-27 17:34] dasmau89 commented on #68
I briefly looked at the code and it seems to me that the problem is in the construtor of SquidMouse:

[code]
This assumes that the size of the window will stay the same at all times (which isn't a save assumtion)

[2015-08-30 02:50] tommyettinger commented on #68
Hm. Thinking aloud here... I'm not sure if resize() in SquidMouse would actually get called automatically when the window resizes. I could provide a convenience method to recalculate the gridWidth, gridHeight, cellWidth, and cellHeight all in one go, and users could call it in their game's resize() method. This is just a simpler way of how it is now (you can currently call the setters on each of t

[2015-08-30 17:33] davidbecker commented on #68
I think I was a little unclear: I ment to override the resize method from ApplicationAdapter.
I tinkered a little with the different options and sadly the unproject option doesn't work since gdx and squidlib have different ways of using the y-axis. There is an option to let the camera invert the y-axis but this flips the whole picture upside down.
Since the aspect ration of the tiles changes on a

[2015-09-01 08:01] tommyettinger commented on #68
I feel like there is probably a better way to write SquidMouse for games with changing cell sizes than the way it is currently done.  For now, I'll write a reinitialize() function that you can call from a resize method or anywhere else when the cell and/or grid sizes change. I updated EverythingDemo to use it from inside the override method `resize(int width, int height)` like so:
[code]
And this

[2015-09-01 08:01] #68 closed

[2015-09-01 17:38] davidbecker commented on #68
I believe we get a rounding error this way -> all seems fine when the player is on the left side of the playing field, but the more the player moves to the right the calculation is more off. On this screenshot the mouse hovers directly over the player tile:
![fov3](https://cloud.githubusercontent.com/assets/1927731/9611561/a1ce3010-50e0-11e5-9e2f-2cc701082b00.png)

And a new error slipped in:
[cod

[2015-09-03 06:48] davidbecker commented on #64
I think it would be nice to have the rendering part separately from the algorithms, but it is a pain to maintain code that belongs together in different repositories. It would be much easier (and would also allow for a consistent naming scheme) to have the two parts in one repository but in different maven projects.

The following seems consistent and easy to maintain for me:
_squid-parent_ - dumm

[2015-09-04 04:30] tommyettinger commented on #64
@davidbecker that sounds like a much better plan. I'm not sure what it will take to get multiple artifacts on Maven Central under one organization, but your plan seems like the best way to do this.

[2015-09-04 12:54] davidbecker commented on #64
@tommyettinger I haven't deployed anything to Maven Central yet, but it seems to me that a simple

[code]
should work

[2015-09-07 04:19] tommyettinger commented on #64
I'm starting on some needed reorganization for this now. I've already replaced java.awt.Point with Coord from the squidmath package (same exact API), I split up SColor into two versions, one using libGDX Color and one using AWT Color, with almost the same API. Next up is the Maven module mess.

[2015-09-16 08:00] smelc opened #73 "Would it be possible to make Coord immutable, to be able to cache instances ?"
Because I work in a safety-focused company (where we prove that software is defect-free), I like [immutable](https://en.wikipedia.org/wiki/Immutable_object) objects as they allow safe sharing. That is why I would have written `Coord` in an immutable way (i.e. with final fields, and with mutating methods that return another object). Another benefit is that it allows to use a cache such as this one

[2015-09-16 08:19] davidbecker commented on #73
I like the idea of immutable objects very much my self, but I think the fixed size pool for all coordinates is an arbitrary limit that limits the usefulness in a general library.
But this is only a minor implementation detail - I like the general idea though :)

[2015-09-16 08:58] tommyettinger commented on #73
I actually made this change once before, when I ported SquidLib 1.95's logic code out into its own library, Cuttlebone. Cuttlebone didn't have a fixed-size pool and I think it isn't a great idea for such tiny objects. I definitely am in favor of immutable data where possible; I use Clojure a lot but it suffers from some performance trouble that is only partly a result of immutability by default (i

[2015-09-16 10:00] smelc commented on #73
@tommyettinger> Your proposal is smart, and I bet it'd produce the fastest code. But, as you say, it would make the code harder to understand, pretty much everywhere :-/, so I'd avoid such a change as long as it isn't _required_ for performances.

Maybe my pool is oversized, indeed my maps are at most of size 100x50 :smile: and the pool is only partly shallow: all arrays are initialized at creatio

[2015-09-17 01:22] tommyettinger commented on #73
I've thought about this pretty much all day today. I looked into annotation processors as a way to effectively provide a type alias for Coord to make it act like an int, but no matter how well or poorly that would work, it would still need to be boxed to fit into practically any collection, and that takes away a lot of the benefit. The original idea is still the best option, taking into account @d

[2015-09-17 03:53] tommyettinger commented on #73
This is done and it seems to have no behavior differences or noticeable slowdown in EverythingDemo. I'll run some more tests, but I had to uh... change a lot of APIs. Most importantly, you probably need to do a find/replace in any code using SquidLib master, on `new Coord(` replacing with `Coord.get(` , which should make any instantiations of Coord avoid using the now-non-visible constructor direc

[2015-09-17 16:07] smelc commented on #73
I felt like reading to the end :smile: Thank you for doing it, in my experience, immutability protects against a lot of mistakes! And allocation was always the bottleneck (I mean: once the right algorithm has been chosen) in computing-intensive Java-stuff I do at work, so even if I won't neither be able to notice the difference on my development machine; I'm very confident it'll help on old system

[2015-09-18 04:20] davidbecker commented on #73
@tommyettinger I also felt like reading to the end :wink:
I have an old (2007) lapto that I use as a performance baseline, I will test your changes there when I'm back from work and will report back how your changes affected the performance.

[2015-09-20 00:44] tommyettinger commented on #64
Well it looks like this is pretty much done. Static mutable state shouldn't be a problem anymore, any references to AWT are gone in util (thank you for landing the finishing blow, @devilbuddy ), modules are all split up... I have a few features that are only partially complete in the GDX display code, once those are made fully available I'll publish a 3.0.0b release. I think the master revision do

[2015-09-20 00:44] #64 closed

[2015-09-20 11:15] davidbecker commented on #73
TL:DR the new Coord implementation is faster

now the long version :smiley:
I wrote a test that did some FOV & LOS computation over a small map (30*30).
This test was run 100 time on 4 threads on my old laptop (core2duo mashine) and the amount that each thread took was noted.
![coord](https://cloud.githubusercontent.com/assets/1927731/9980377/9e046d30-5f97-11e5-9dd9-f435746040bb.png)
The position

[2015-09-20 19:03] SquidPony commented on #65
I think I caused this bug when I changed how radius worked a while ago testing making shadowcasting directly work with transparency. I'll run some tests to confirm it's working correctly now though, thanks for the fix @dasmau89!

[2015-09-21 08:27] smelc commented on #73
@davidbecker > That's interesting data. Clearly, allocation of `Coord` isn't the bottleneck in this test, otherwise the difference would be larger.

[2015-09-21 18:19] davidbecker commented on #73
@smelc you are probably right about that about that. Maybe it is the memory allocation? I haven't had time to look at the new implementation of Coord myself, but maybe there is room for improvement. I'm sure there is room for performance improvements in the implementation of the algorithms as well.
I stumbled upon an interesting youtube series from the google android developers a couple of month a

[2015-09-22 02:09] tommyettinger commented on #73
LOS using Elias and I suspect some FOV for large radii are slow for other reasons. Elias is likely the reason for the biggest speedup because it probably takes the most time, and because it creates a lot of Coords, one for every cell in the line and then some (cells immediately adjacent to the Elias line also may be part of the line it returns). I would be curious to see this test without Elias (t

[2015-09-22 02:55] davidbecker commented on #73
@tommyettinger are you sure the pool works as intended? To be honest I can't figure out some of the implementation details; the "-3" in the get() method, is it to have some buffer on the edges? I think the problem is in the get() method itself. If the parameters aren't describing a Coord in the current pool a new Coord is returned on line 26, but as far as I can see it isn't added to the pool - wh

[2015-09-22 06:31] tommyettinger commented on #73
Yeah, the pool currently doesn't cache odd-man-out Coords that are beyond the reach of the 2D array, but it does provide a way to expand (not ever contract) the 2D array to beyond the current size, initializing it with Coords so any access into the array will access a cached object. The -3 is so the 256-wide, 256-high array contains points from (x:-3,y:-3) to (x:252,y:252), ensuring 0-249 are vali

[2015-09-22 07:47] davidbecker commented on #73
We use JUnit at my workplace for test coverage and I would be willing to contribute testcases.
On the other hand I'm not really familiar with the library, since I only have used the dungeon generation and LOS in my own prototype. But this is a good thing for writing test cases :smiley:

[2015-09-25 20:18] tommyettinger commented on #62
This is now possible, sorta, with the libGDX display code. You can display a TextureRegion that is larger than one cell, and it will be (for now) anchored to the upper left corner of the cell that matches its x, y coordinates. Handling overlap is up to the library user, since the mechanism that this is implemented with is just making the image an Actor, and having all Actors be rendered only when

[2015-10-03 00:50] tommyettinger commented on #73
I have no idea where to post this, but I implemented Hilbert curves with run-length encoding for compressing FOV maps, and the results are... very nice.
[code]
Yes, that's smaller than 1/10 of one percent the size as a boolean[][] in optimal cases. And FOV currently produces double[][] FOV maps, so consider that too, haha.

(Approaching Worst-Case) is not actually the worst-case scenario; that wou

[2015-10-03 06:37] tommyettinger commented on #73
@davidbecker I just re-read this issue thread and realized I should have rewritten a version of the performance test case to test Dijkstra Maps and another version to test AOEs with the new Coord setup. I'll get on it now.

Parallelization should offer impressive gains (for whatever we figure out is the biggest bottleneck) on desktop/laptop machines, but I have doubts about how effective it could

[2015-10-03 09:22] tommyettinger commented on #73
[Roadmap/idea page on the wiki](https://github.com/SquidPony/SquidLib/wiki/SquidLib-3.0-Changes). I'm still working on it.

[2015-10-03 16:36] davidbecker commented on #73
@tommyettinger This sounds really promising - I experimented with caching computed FOV maps myself (nothing fancy, just a basic HashMap<Coord, double[][]> for each position that I computed the FOV before), which is a huge waste of memory in favor of computing time, but using Hilbert curves seems to make much more sense (I'm not pretending to realy know what these are, I just skimmed the wikipedia

[2015-10-03 21:38] davidbecker commented on #73
@tommyettinger I ran the DijkstraPerformanceTest, here are the results for future references:
[code]
I think that we could get the most performance gains on the lower end of the android spectrum (and the lower end of the desktop market as well) by focusing on making the computing intensive classes thread-safe by removing the need to store state in the class itself and refactor the calculation meth

[2015-10-04 13:24] tommyettinger commented on #73
Hoo boy, that is too many milliseconds for heavy DijkstraMap usage. On your machine, it looks to be about 4-5ms per Dijkstra scan (assuming about 5000-6000 calls are made to `scan()`, because it only calls it for walkable cells in the 60x60 dungeon, but calls it twice per test iteration). On my machine, with a quad-core 4th-gen i7 mobile processor, it was less than 1ms and closer to 1/2 or 2/3 of

[2015-10-04 13:40] tommyettinger commented on #73
Oh yes, and Hilbert Curve FOV Compression Stuff gained a bunch of new features in the last 2 days; now you can use `CoordPacker.packMulti()` on a double[][], specifying a double[] of what values in the first double[][] should be used as thresholds for different levels of (in the most common case of FOV) lighting. You can also now use `CoordPacker.unpackMultiDouble()` to decompress the short[][] th

[2015-10-04 15:52] SquidPony commented on #54
With the changes to not have SColor derive from awt.Color, these back end changes can (and probably should) take place.

Personally, I very much would like to see HDR support added in.

[2015-10-05 00:13] tommyettinger opened #83 "Remove Swing/AWT display in 3.0 release?"
I'm posting this as a new issue to focus any discussion on this topic in one place, instead of all over PRs and issues where it was before. It has been suggested that Swing/AWT display should be kept in the 2.x series of releases, and 3.x should move to only supporting LibGDX for text-grid display. This avoids spreading interfaces across rather dissimilar display techniques, uses a game developmen

[2015-10-05 11:55] smelc opened #84 "UnsupportedOperationException from DijkstraMap.findPathLarge"
Here's a stacktrace I encounter:

[code]

The problem is that I pass an unmodifiable Collection as the `impassable` parameter of `DijkstraMap.findPathLarge`. But this method can mute the collection received: see `impassable.add(currentPos)` at line 1610. I believe that `findPathLarge` should make a defensive copy (or document this dangerous behavior) if the received parameter is not-null (an addit

[2015-10-05 21:55] tommyettinger commented on #84
Good catch, I hadn't considered that this method could be passed unmodifiable Sets. I'll have it make a defensive copy of the elements in `impassable` as a LinkedHashSet.
The only reason I prefer to use LinkedHashSet and not HashSet is because Java 7, Java 8, and at least one of the two VMs used by Android iterate through HashSets in a different order (this also affects `toArray()`), so even if yo

[2015-10-05 22:19] tommyettinger commented on #84
OK, 22 minutes. But I also fixed every other case in DijkstraMap that I could find that adds to a Set parameter... It should fix large and non-large pathfinding, for go-to paths and flee-from paths as well as the rest.

[2015-10-05 22:19] #84 closed

[2015-10-06 08:19] smelc opened #85 "Decrease the number of warnings"
I'm programming under Eclipse with standard settings for warnings and errors, and I have a lot of warnings in SquidLib (more than 400). This is bad practice, because it makes the list of warnings unusable, in particular when you add a new one, you can't notice it.

Most of the warnings comes from the Javadoc that is badly formed as follows (taken from `SquidLayers`):

[code]

The javadoc should be

[2015-10-06 08:31] tommyettinger commented on #85
I think this is both possible and should at some point be done, but I think we should probably hold off until some of the APIs being changed or added are more stable. It looks like the devs are essentially in agreement on removing AWT/Swing, so any warnings in that module shouldn't be worried about; they'll go away once the module is removed. I'll clean up any warnings I find in the code I'm curre

[2015-10-06 08:41] smelc commented on #85
Below I've printed the full list of errors (4 of them) (due to me using Java 1.7) and warnings I have. There aren't many missing `@param`, the other warnings are most about unused stuff and missing `@Override`. Note that there are some errors caused by Java 1.7 which aren't listed, because I fixed them locally.

[code]

[2015-10-06 09:12] tommyettinger commented on #85
I love the last one, `Unnecessary @SuppressWarnings("unchecked")`. Trying to suppress warnings causes a warning, it's like a parody of programming.

An awful lot of these seem to be in examples, and the examples probably don't even need "proper" Javadocs since you should be reading the code to make use of them anyway. There's also a lot of classes in here that probably don't work so well currently

[2015-10-06 09:21] smelc commented on #85
I can do a first round of warnings-busting this evening (12h from now :smile:), restricting to gdx-dependent code, and avoiding DijkstraMap, FOV, Coord, and CoordPacker. Do you want me to delete private fields and methods that are unused ? This may be sometimes undesirable, such code can be left in there for future readers/reference. If you prefer to do it later, I can left them.

I'll go over the

[2015-10-06 09:32] tommyettinger commented on #85
Sure, feel free to delete any private fields that are unused; if there's any private unused methods it may be a mistake that they're private, so maybe clear out fields but leave methods intact?

[2015-10-06 09:45] smelc commented on #85
Allright, I'll delete the warnings on private unused methods by adding `@SuppressWarnings("unchecked")` if the method seem valuable (not a silly getter). I don't like SuppressWarnings too much, because it doesn't do well when people have different configurations (people with picky configurations will put `@SuppressWarnings` to avoid some warnings, but others with soft configurations will have `Unn

[2015-10-06 09:46] davidbecker commented on #85
@smelc the javadoc that you propose is malformed javadoc as well. To be "correct" (what ever that means) you should have it like:
[code]
The main purpose of the documentation is to make thinks clear in a fast fashion that isn't obvious (and what is obvious is debatable as well). For instance I'm not a big fan of adding javadoc to Java Beans getter & setter methods. Something like
[code]
doesn't ad

[2015-10-06 09:54] davidbecker commented on #85
An other (and better, I think) solution would be to add a sane checkstyle configuration to the project. Something like "public methods should be documented, private methods don't matter" and so on. This would remove the compiler warnings in Maven as well

[2015-10-06 09:59] smelc commented on #85
@davidbecker> by malformed javadoc, I mean javadoc that creates warnings. Of course, settings are highly debatable, but mine are standard and pretty soft (for example I don't propose to add documentation on every public element, despite being a classic requirement).

I agree that having

[code]

isn't desirable, and I do not intent to write that. Having the form that I mentioned permits to have re

[2015-10-06 10:18] davidbecker commented on #85
(Disclaimer: This is just my personal opinion, and as valuable as the question what is the most beautiful color)
@smelc I think that moving the the documentation "Width of..." to `@return` makes is worse and I would like in this example to have it copied, so that is represented on both spots :smiley:
I know, it violates the "don't repeat yourself"-principle, but it "like" it more...

[2015-10-06 10:29] smelc commented on #85
@davidbecker> Allright, I'll wait to bust the javadoc warnings until we reach a consensus :cry: with @tommyettinger (and @SquidPony ?)

[2015-10-06 10:46] tommyettinger commented on #85
How about just
[code]
With no Javadocs for something that is clearly self-explanatory, and only add Javadocs if getters/setters have actual logic in them? That should get rid of some clutter, will make getters and setters that do complex things slightly more obvious when you use them, and won't throw warnings.

[2015-10-06 10:46] davidbecker commented on #85
Well, I think the goal to remove/resolve the warnings should be tackled.
But I think that just moving the documentation solves the wrong problem (we have a warning) and not the problem that caused the warning in the first place (we have malformed documentation).
As far as I can see we have the following options (assuming that we agree that this is a problem that should be solver :wink:):
* move do

[2015-10-06 10:55] davidbecker commented on #85
@tommyettinger :+1:
but something like this seems to be necessary to suppress the warnings about missing javadoc, empty returns and empty params:
[code]

[2015-10-06 11:02] tommyettinger commented on #85
Does it need that? Gah... I'm actually in favor of copying the return doc to the main doc body, they're displayed at different times and in different ways. I'd say if @smelc is doing the work, it's his call.

[2015-10-06 11:52] smelc commented on #85
I don't get why you want to have the same doc in the `@return` and the main body. For me they have different meanings: the `@return` only concerns the returned value, hence for simple getters, it makes sense not to have a main body.

@davidbecker> we should avoid to introduce suppress warnings as much as possible (because it doesn't work well with different configs, as I wrote above). In your exam

[2015-10-06 12:51] davidbecker commented on #85
@smelc I only added that we might need the suppress warnings, I don't actually know if they are needed by Maven (or javac) and I'm not sitting at a computer with Maven at the moment to be able to check it. I don't like them myself and also think that they should be avoided as much as possible.

Your configuration makes sense to me (and I think that I have the same configuration at home), but I thi

[2015-10-06 14:22] SquidPony commented on #85
When I first ran into this issue last year I decided for most cases that
the warnings were meaningless, at least in the cases like getX () and
choose to ignore them rather than suppress them or remove the javadoc. If I
recall correctly they're mostly not javadoc problems but rather stricter
maven javadoc expectations.

I guess I'm wondering if there's a way to set maven to bit be so picky and
then

[2015-10-06 14:35] SquidPony commented on #85
Dug into it a bit and it looks like a lot of it is that maven might be
issuing javadoc 8 even with a Java 7 project, resulting in errors or
warnings for previously accepted javadoc.

http://blog.joda.org/2014/02/turning-off-doclint-in-jdk-8-javadoc.html?m=1

I personally feel maven got it wrong on this issue but in the spirit of
meeting maven standards rather than fighting them, changing things to

[2015-10-06 16:12] smelc commented on #85
Allright, I'll change javadoc once we're clear what we want for both Eclipse and the compiler not to complain. And I'll sadly :smile: unplug my javadoc validator until then. But I'll do a pass on other warnings in the next twelve hours.

[2015-10-06 16:19] davidbecker commented on #85
@smelc you can define custom behaviour for each project in eclipse (right-click -> properties -> ...) so you can leave your normal configuration the way you like it :wink:

[2015-10-06 16:30] smelc commented on #85
@davidbecker> yep thanks (I knew as I use Eclipse at work, since a few years now ^^)

[2015-10-06 17:10] davidbecker commented on #85
@smelc no offense meant, just trying to be helpful

[2015-10-06 19:02] smelc commented on #85
@davidbecker> of course, none taken :-), I just wanna say I'm kinda a senior developer from the point of view of many ;)

I busted almost all non-javadoc warnings in PR https://github.com/SquidPony/SquidLib/pull/87. See the PR's comment for the three remaining warnings. I also made the code 1.7 compliant in a few places (custom Iterators + useless import to java 1.8 lib).

[2015-10-07 00:32] tommyettinger commented on #85
@smelc leaves a business card, "Senior Javadoc Maintenance Architect," at every conference he goes to. My business card still says just, "Warlock 10/Paladin 7," I should update that...

This significant issue is looking like it will have been reported and promptly fixed in just a few days, which is impressive!  I think we should do a quick check of what OpenJDK does for its getter and setter Javad

[2015-10-07 04:29] tommyettinger commented on #83
OK, I'm preparing to do this. I will leave the last commit with Swing intact in its own branch, where if someone wants to pick up the Swing display, they can do that without going through Point->Coord refactoring all over again. I may port a few more demos first; I already ported the MetsaMapFactory demo to the GDX project as WorldMapDemo. For some cases the libGDX code will be slightly more compl

[2015-10-07 07:04] davidbecker commented on #83
@tommyettinger maybe you should add a tag like "last working swing verversion" to the commit as well?

[2015-10-07 07:08] tommyettinger commented on #83
Good idea. I'll scan for anything like MetsaMapFactory that doesn't have a clear parallel anywhere else, and I'll add a tag before I make the change.

[2015-10-07 07:32] smelc commented on #85
@tommyettinger> you sums that up well:

When waking up this morning, I realized that an alternative to the actual state, that would be appealing to me, would be if the documentation is only in the main body (I'd be happy, because it would look well in hovers) i.e.:

[code]

My soft javadoc Eclipse configuration would not produce a warning. So if maven's compiler is happy with it, that could be som

[2015-10-07 07:36] tommyettinger commented on #85
@smelc Sure, that works for me, but will Maven tolerate that?

[2015-10-07 07:43] smelc commented on #85
@tommyettinger> I don't know, I know my way around Eclipse, but not maven ^^ I installed android-studio only last week when moving my game to gdx, so I'd prefer someone with some experience of working with its (maven right?) compiler to tell.

[2015-10-07 07:49] tommyettinger commented on #85
I actually have no idea what IntelliJ IDEA and Android Studio use internally for building (other than probably the same as each other; they're mostly the same code). I know IntelliJ doesn't give the same warnings Maven does when I run Maven from the command line, and I also know from a developer of an IntelliJ plugin that the JetBrains team bundles their own build of OpenJDK with IntelliJ to avoid

[2015-10-08 07:29] smelc commented on #83
One of the thing I'll miss from AWT is the availability of the default super good looking complete font :cry:

[2015-10-15 10:08] smelc opened #91 "Add a new "grass" FillEffect in DungeonGenerator"
It'd be nice to have an effect to generate grass (represented by " in brogue) in DungeonGenerator. I think it can be generated like water, but I'm not confident in doing it myself; because the code about that in DungeonGenerator is pretty tricky.

[2015-10-15 18:19] #91 closed

[2015-10-15 18:21] tommyettinger commented on #91
This is a good suggestion, by the way. It doesn't hurt that it needed almost exactly the same code used for adding water!

[2015-10-15 18:26] tommyettinger commented on #73
Well this issue sure got large and out of scope quickly... Since the last post, Coord has definitely seemed stable with the current immutable technique, and the relatively-unrelated CoordPacker should be usable on its own (unlikely) or in FOVCache. I think since we know that reusing Coords isn't slower than, and is much safer/somewhat more memory-efficient/probably slightly faster than the earlier

[2015-10-15 18:26] #73 closed

[2015-10-18 23:55] tommyettinger commented on #83
@smelc : thoughts on this font?
![image](https://cloud.githubusercontent.com/assets/160684/10567406/b90d8fe4-75b8-11e5-9f18-ce1759d04b56.png) It's included at 12x24 now in squidlib-gdx, based on Inconsolata-LGC (SIL Open Font License). Most lines are much more smooth, particularly diagonals, and it supports Latin, Greek and Cyrillic alphabets for so it should cover most common European languages.

[2015-10-19 08:11] smelc commented on #83
@tommyettinger> it looks awesome! I'll try that at home this evening. So far, I did not succeed to obtain a good looking font of my own (I used libgdx's hiero and dejavu sans mono, the result is OK but not as smooth as your screenshot).
Unfortunately, one font does not suffice for my game, as the user can scale the display (I think that's important for phones). I support size 6 to size 34.. (I use

[2015-10-19 08:29] tommyettinger commented on #83
I can do quite a few manipulations to the font if need be, including making it square as an option. I didn't use Hiero, since it had all sorts of trouble with monospace anything; to make a font in the AngelCode format it turns out [the BMFont generator from AngelCode](http://www.angelcode.com/products/bmfont/) is best (surprise!). I'm posting the TTF and BMFont config in the etc subfolder of squid

[2015-10-19 16:42] smelc commented on #83
Thanks @tommyettinger. I could use BMFont to generate the font in all the sizes I need using a variant of your config file. For those who read that, I'm running linux and could run BMFont with wine 1.5 (it was crashing with 1.4, I updated and it worked without any tricks with 1.5). Then I generated all the fonts I need with this script (Inconsolata-LGC-my-config.bmfc is a variant of the file that

[2015-10-20 03:54] tommyettinger commented on #83
I think the font may actually be 12x25 at the resolution I rendered first... The font isn't truly rectangular, and I wasn't thinking about sizes other than the ones I had tried it on when I was editing it. It's likely that it could be edited to make it truly rectangular, but it would take some time; there's a lot of glyphs in there...

[2015-10-20 07:37] smelc commented on #83
For the moment, I'm good with using a font smaller than the cell's size (- 2). Maybe it does not suffice  yet for characters that are really low (like 'g'), but I'll see later (if I use a -4 difference, then it starts looking weird, so I can't just make the font smaller again).

[2015-10-20 23:48] tommyettinger commented on #83
Well, I pushed 3.0.0b1 as the final release to include Swing, then followed up after the release by moving the last Swing-using version into the branch `swing-terminus` and then removing swing support from the master branch.  So that's that!

[2015-10-20 23:48] #83 closed

[2015-11-02 09:18] tommyettinger commented on #54
It seems like the HDRColor class is causing more of a headache than it helps resolve. I'm inclined to remove support for HDR (after adding it), since I can't really find good uses for it that are impossible with regular Colors. Common examples like the LerpFilter, where everything is colored with a tint, don't need HDR at all. Gamma correction is primarily useful on photos, and has limited utility

[2015-11-03 05:43] SquidPony commented on #54
I'm okay with HDRColor going away again. I'm glad however that it was successfully attempted but yeah, it spread some chaos too.

Super excited about the Filters.

[2015-11-03 08:29] smelc commented on #54
@tommyettinger > how do you plan to do it ? Do you want to rollback the commit introducing hdr colors, continuing the current streak of changeset; or will you start again from before the introduction ?

I have a PR ready, with a few bugfixes in SquidIterators, ICombinedString (some poorly tested methods of mine) and one in DijkstraMap; but I'll wait for you, so as to be able to do the PR on the ti

[2015-11-03 08:56] tommyettinger commented on #54
@smelc I'm planning to refactor the code so anything that uses the HDRColor fields hr, hg, or hb instead uses r, g, or b, then I'm going to do a type migration in IntelliJ IDEA, shifting any uses of HDRColor back to libGDX Color, and I'll see if that catches everything by deleting HDRColor (I might re-add the class if we can figure out a way to compartmentalize it and not carpet-bomb the inheritan

[2015-11-03 10:12] tommyettinger commented on #54
OK, this should be done. HDRColor is deleted from the current code, anything that depended on it now can safely depend on GDX's Color, and Filters still work just fine. I'm closing this so we aren't tempted to mess with HDR and the resultant insane inheritance hierarchy any more...

[2015-11-03 10:12] #54 closed

[2015-11-03 11:59] smelc commented on #54
Excellent, I'm synched again with the tip :smile:

[2015-11-10 22:54] tommyettinger opened #96 "Change the repo tagline, general site cleanup"
Currently the tagline that shows up in searches for SquidLib says:

Useful tools for working with Grid World in Java Swing panels. Comments and suggestions are very welcome! http://squidpony.com

Except we no longer support Swing, Grid World is a bit confusing (could we find a better term for tools for grid-based games?), and I think the URL is down. I think @SquidPony is the only one who can chan

[2015-11-12 08:50] smelc commented on #96
:+1: for the proposed tagline

[2015-11-12 09:38] davidbecker commented on #96
:+1: for the tagline as well from me
I'm afraid that I won't be of much help for the clean-up phase before 3.0.0 since I probably don't have much time for side-projects until mid-January

[2015-11-13 12:21] smelc commented on #16
The method that takes an `IColoredString` in `SquidPanel` does half the job: it allows to give a foreground color per character of the string being printed.

[2015-11-13 12:25] smelc opened #98 "DungeonGenerator always generates water"
This is visible if you comment out the addWater call in `EverythingDemo`. The generated grid has (quite a large) pool of deep water. I think this isn't the intended behavior of `DungeonGenerator`. This changed somewhere in between db43d4740c48a8ba091aab9ddc2b and 1b264517ae434a085cdc825ffe4e4f7f2f4dfdc1.

[2015-11-13 21:48] tommyettinger commented on #98
I'm pretty sure I know what causes this, even though I thought I had a check for it... I'll take a look.

[2015-11-13 22:10] #98 closed

[2015-11-13 22:17] tommyettinger commented on #98
The bug had to do with MultiSpill not updating the indices it used to mark each spill as "floor" or "water", so I'd have a water fill with 0.0 likelihood, which would never fill anything, and then the next one would be considered water anyway and would fill a floor area or something with water. It's fixed now, pretty sure.

[2015-11-16 08:40] smelc commented on #98
I confirm that this fixed the problem in my roguelike. Thank you :+1:

[2015-11-27 07:06] SquidPony commented on #96
Changed the tagline and removed the link to my under (very long) maintenance site.

[2015-11-27 07:06] tommyettinger commented on #96
Cleanup is still under way, but thanks @SquidPony for changing the tagline!

[2015-12-02 13:02] smelc commented on #34
I've implemented that in my roguelike, I may at some point be able to propose generic code for this issue.

[2015-12-17 08:25] smelc commented on #34
Code mentioned in my previous message got merged in #101

[2016-02-13 18:22] SquidPony opened #111 "SquidLib Tool needs better/more instructions"
There's several options in the tool that seem self-explanatory, but could do with documentation here as part of a setup tutorial.

For example, which Extensions should be selected when setting up a bare bones SquidLib project?

I'm thinking a page just for setting up the tool based environment, along with the more advanced options listed in the main page. Then right at the beginning of the main pa

[2016-02-13 18:32] SquidPony opened #112 "SquidLib setup tool took 2 "Generate" runs before it worked right"
The first time it failed on a move file error.

Here's the log:

Generating app in F:\Projects\AF-SL3
Executing 'F:\Projects\AF-SL3/gradlew.bat clean --no-daemon'
Downloading http://services.gradle.org/distributions/gradle-2.4-all.zip
.....................................................................................................................................................................

[2016-02-13 18:44] SquidPony commented on #112
After removing that project and regenerating, I got a different failed build, although again a second push of the generate button appears to have worked.

log:

Generating app in F:\Projects\AF-SL3
Executing 'F:\Projects\AF-SL3/gradlew.bat clean --no-daemon'
To honour the JVM settings for this build a new JVM will be forked. Please consider using the daemon: http://gradle.org/docs/2.4/userguide/gr

[2016-02-13 19:01] SquidPony opened #113 "SquidLib setup tool gives bad instructions for importing to NetBeans"
after building, it says "To import to NetBeans: File -> Open Project..." but that doesn't work since it doesn't actually build the NetBeans project files

[2016-02-13 19:18] SquidPony commented on #113
Looks like there's a gradle support plugin for NetBeans that has to be installed first.

[2016-02-13 19:38] tommyettinger commented on #112
The first error seems to be caused by a network issue when downloading a plugin that the HTML output requires. HTML output seems to be broken in Beta 3, and I've been trying to figure out ways to test it. @smelc has gotten HTML fully working with GWT 2.7, I think I've managed to push the dependency level down to 2.6 so we are compatible with libGDX's defaults, but HTML has never worked for me for

[2016-02-13 19:42] tommyettinger commented on #113
I'll add the instruction for a plugin to the output if I can; it might be a message from Gradle, gradlew, or the code I have access to. gradlew is a wrapper around Gradle that the libGDX team put together so people don't need to have Gradle installed to use their version of a setup tool.

In the meanwhile, I'll make a wiki page for setup. The problem is many people don't click links for initial in

[2016-02-13 19:55] tommyettinger commented on #111
The defaults are there for a reason! Only SquidLib starts out checked, and it is the display code (there should be a hover tooltip or something; there's a description of it as the display code in the SquidSetup source, but that description may show up in weird places or at the wrong times). None of the others start out checked. When SquidLib is checked, it handles any dependencies it has, so you s

[2016-02-14 20:08] SquidPony opened #114 "SColorFactory javadoc incorrect"
The constructor has this, which is now wrong:

    /**
     * Prevents any instances from being created.
     */
    public SColorFactory() {

[2016-02-15 02:14] #114 closed

[2016-02-19 15:22] Taffaz opened #115 "ArrayIndexOutofBoundsException with SerpentDeepMapGenerator"
I'm been running into an intermittent crash with my game that I've narrowed down to the SerpentDeepMapGenerator. It is crashing out at the posToHilbert method during the generation and the rng seed is what was causing it to happen intermittently. When I changed the rng to have a constant seed of "test" it crashed every time whereas "test2" ran without issue.

I get the following stack trace.

[cod

[2016-02-20 00:14] tommyettinger commented on #115
I think I know what causes/caused this, and I am moderately sure I changed something recently in the master revision to fix that problem. I'm investigating now; are you using 3.0.0-b3 or master? I'll test on both, which could give me an idea of where the problem is.

I haven't updated the Readme yet, but there is a new version of the setup tool that downloads a fresh build of the master revision o

[2016-02-20 01:19] tommyettinger commented on #115
This seems to be fixed as of the current latest commit; the code I thought fixed it instead fixed a different issue, haha yay, all these space-filling curves are melting my mind. There was a Deep-specific issue with 3D Moore Curves (since only SerpentDeepMapGenerator makes a 3D dungeon layout, only it was affected) that I thought was the culprit and had fixed earlier. This issue turned out to be d

[2016-02-20 09:39] Taffaz commented on #115
Great, thanks for the update. I may have to spend some time looking more in depth at the different generations as it's just a black box for me. I assume I can just update my gradle build file to update to the latest? Or will I have to make a new project and copy across my files? Not really an issue either way but just curious.

[2016-02-20 11:00] tommyettinger commented on #115
I would personally make a new project with the 3.0.0-LATEST version of SquidSetup, since it's the least work unless your build.gradle has been given a lot of changes. A second option if you've customized your build.gradle might be to make a new sample project with that "LATEST" setup tool, check where things have changed in the fresh build.gradle, and copy over the changed sections into your custo

[2016-02-20 14:19] Taffaz commented on #115
I'm just making a test game to implement all the features I'm going to put in the tutorial so just a standard dungeon crawl. I used the deep map gen as it was easy to get a multi level map to test out mob spawning and dealing with z levels.

[2016-03-09 17:33] SquidPony opened #117 "DijkstraMap findPath doc improvement"
The javadoc for findPath doesn't mention that the path it returns is a cached instance. Without that bit of knowledge, the sample project that is built having a line that builds a new ArrayList from the path returned doesn't make sense. I _think_ there used to be documentation about how the path is cached at the class level, but I didn't see it in my brief lookabout.

I'm not really sure why path

[2016-03-09 18:42] SquidPony opened #118 "IColoredString.Impl.wrap == to <="
Line 277 in IColoredString.java checks if the passed in width is zero, but it should check instead for any value below 1 since the input is not otherwise checked.

I'm guessing there's other places this has happened, but I haven't done a search for it

[2016-03-09 20:01] #118 closed

[2016-03-13 21:59] smelc opened #119 "Height offset in SquidPanel::tint"
In [Dungeon Mercenary](http://www.schplaf.org/hgames), `SquidPanel::tint` is off by 2 pixels as shown in the image below (zoom on the red cell close to the '@'). I circumvent the bug with this patch:

[code]
![tint-bug](https://cloud.githubusercontent.com/assets/634720/13731627/1c603078-e96e-11e5-8341-a3408de7ce78.png)

In this static screenshot, the bug doesn't catch the eye; but it is clearly vi

[2016-03-13 22:13] SquidPony commented on #119
is this due to the height push by one pixel to get line drawing vertical characters to line up?

[2016-03-13 22:49] smelc commented on #119
Where was this change done ? Because I'm slightly late w.r.t. to SquidLib's master branch. I'm working on https://github.com/SquidPony/SquidLib/commit/f5879e9b7f281b548438433293db8944d39e5ae1 (11 days ago at the time of writing).

[2016-03-14 00:40] tommyettinger commented on #119
I haven't changed tint in the last (much more than) 11 days, but I have changed TextCellFactory. I think I noticed this in a different context for the AnimatedEntity objects I use for animating movement in EverythingDemo; they seemed too low, as this seems to confirm. I actually noticed this quite a long time ago but had no way to prove to myself that it was an actual bug; I'll check all the place

[2016-03-15 00:28] tommyettinger commented on #117
This has been fixed since commit https://github.com/SquidPony/SquidLib/commit/7a4bcf25c1b2b063500fd1065132b11d43a91b68 , 5 days ago. I thought the mention in the commit message would close it, but I guess it doesn't.

[2016-03-15 00:28] #117 closed

[2016-03-15 00:30] tommyettinger commented on #111
OK, this is at least mostly fixed. There's a setup documentation page on the wiki, linked from the front page instead of filling the front page, and the setup tool mentions that the defaults don't need changing for text-based games.

[2016-03-15 00:30] #111 closed

[2016-03-15 00:34] tommyettinger commented on #119
I think this is fixed as of the latest commit, https://github.com/SquidPony/SquidLib/commit/ef9ed26aca2b55ae5fa1e6ee073bbc00a15ad941 , but I can't be quite sure yet. There may still be a 1px offset with some fonts at some sizes, to height and/or width. I think the issue is related to the descent being taken into account when drawing fonts, but not when making them into Actors, which `tint()` does

[2016-03-15 00:40] tommyettinger commented on #112
I think this may be out of the domain of the setup tool's fix-able code. The first outage may have been related to JVM memory issues, anti-virus blocking a network request, the network connection to Maven Central being down briefly, or any number of other issues that I don't think I can figure out from here. The master-version setup tool should behave differently in some ways, and even though it w

[2016-03-15 00:40] #112 closed

[2016-03-15 19:01] smelc commented on #119
In fact, I've had this problem for a very long time, since the start of Dungeon Mercenary if I recall correctly. The font I use has a descent of -6.0 (it is @tommyettinger's Inconsolata font). After ef9ed26, the problem is worse :-( as the attached image demonstrates.
![dm-tint-problem-tommys-trial](https://cloud.githubusercontent.com/assets/634720/13790420/a2ec0eb6-eae8-11e5-95a5-758a7a5b6cf9.png

[2016-03-15 22:10] tommyettinger commented on #119
OK, this seems to be only related to when a cell background is turned into an Actor (done to animate tint, fade, move, etc. effects), since only some of the cells are offset or maybe shortened vertically, and they're all near the green effect (did the smoke bomb or any other animation previously affect the other cells to the left and above that now have a black over-bar?). It also doesn't seem to

[2016-03-16 20:30] smelc commented on #119
There are cells with just a black bar, because the bomb exploded in the middle, and I tint randomly the nine cells around the bomb, with a small delay in between every of them. Interestingly, the black bars appear _before_ tinting. I agree that the amount of offset varying is very weird. Actually, I don't remember seeing that before your last update that I tried (ef9ed26).

I've posted the video f

[2016-03-16 20:35] smelc commented on #119
Still the same behavior as the previous video with fefa7c33a0741e2211bec6c420c13569b639072e :-(

[2016-03-16 22:45] tommyettinger commented on #119
OK, definitely an actor height or actor y-position issue; when the tint ends it recalls the actor, which deletes the actor and replaces its position with normal text in the SquidPanel. It seems like the black bar appears only while the tint is happening (and/or a delay is occurring before the tint, which also means it's working on an Actor). Debugging this would probably be able to show the actual

[2016-03-17 07:34] tommyettinger commented on #119
OK, this one was uh... more work, and less of that was smart work. I sorta had to use trial-and-error for the different possible ways I could move a font more in some cases and less in others, but https://github.com/SquidPony/SquidLib/commit/81257292f17b7d34ba84c12b3ebcde669908e6f8 should get closer to fixing something in some cases... I've pretty much reworked every part of how SquidPanel and Tex

[2016-03-17 18:08] smelc commented on #119
This is worse now :-( The menus are broken and there are black bars on the map. See: https://vid.me/PAcz

I've checked the height of the actor (`a` in the code) and it is correct: it is the same as the cell's height (34). Here's the state of the actor at `tint`'s entry: ![tint-debug-state](https://cloud.githubusercontent.com/assets/634720/13856021/8a04936e-ec73-11e5-9177-4b197bef0215.png)

Hope th

[2016-03-18 08:15] smelc commented on #119
I've tried with 331475c24314f29833f4916f5b803c1d6253a932 and the tint bug is still there, but other artefacts disappeared. I think it's better than the initial version; since the offset is only one pixel high (it seems two, but I believe one pixel comes from the different fog of wars between adjacent cells):
![tint-almost-there](https://cloud.githubusercontent.com/assets/634720/13872297/c903c000-e

[2016-03-18 08:24] tommyettinger commented on #119
5 minutes later, I have pushed a commit that seems to not interfere with the demos' display but should offset by 1px vertically. I believe the offset was also needed in my earlier code, but didn't ever appear in the demos because of the order in which I draw backgrounds (I think I was always drawing a background for the row below, going over the bottom of the cells in the row above, and Dungeon Me

[2016-03-18 16:19] smelc commented on #119
@tommyettinger> awesome you fixed it!

I let you close the task. Thanks once again for your help !

[2016-03-18 21:06] tommyettinger commented on #119
Woohoo! This has been a nasty bug, and it would have been especially bad if it made it into a stable release and individual-project workarounds became needed for anyone using effects like `tint()`. Instead, we have positions and sizes that should actually work for most fonts, even with the unusual things I've been testing against in EverythingDemo (drawing at 1x, 2x, and 3x sizes and scaling down

[2016-03-18 21:06] #119 closed

[2016-04-06 11:46] omcnoe opened #121 "SquidLayers.put does not properly set the background"
When using the put method with the signature SquidLayers put(int x, int y, char[][] c, int[][] foregroundIndex, int[][] backgroundIndex, int[][] backgroundLightness), the background color is not set correctly.

I have 4 arrays that I pass into that function, but no matter what I set the values of backgroundIndex and backgroundLightness too, the only tile that changes is the first character, and it

[2016-04-06 12:23] smelc commented on #3
Looks like this is irrelevant since the restriction to the libgdx backend.

[2016-04-06 22:01] #121 closed

[2016-04-06 22:06] tommyettinger commented on #121
There were a bunch of bugs in SquidLayers and I think this latest commit squashes them. There may be some similar areas that deal with 2D arrays of "something" that need fixing as well, but I think that I got at least most of the relevant code fixed. I also added a simple application/"demo"/thing so I can debug this kind of problem, where the possible causes for a bug are all in just a few places,

[2016-04-06 23:02] omcnoe commented on #121
Wow, thanks for the really fast response. I've changed the build.gradle to use the latest version of SquidLib (which I've built locally), and it fixed my problem. When you generate a new SquidLib project it creates a Gradle project, but I noticed that the library project itself doesn't actually use Gradle? I was able to work out how to build it though.

I'm not an amazing programmer, so I'm using

[2016-04-06 23:49] tommyettinger commented on #121
Glad you were able to build it on your machine with no problems; people have had some issues building in the past and that's why I moved SquidSetup to use JitPack. JitPack is a site/service that should be able to build a new version every time the latest version is requested a project made by SquidSetup. There's confusingly two versions of the Setup, one for stable releases and [one for the latest

[2016-04-07 01:34] omcnoe commented on #121
I had originally changed my build.gradle to depend on the local version using
`repositories {
    ...
    flatDir {dirs "path/to/squidlib-jar-directory"}
    ...
}`
and then `compile name: "squidlib"` under dependencies. But using JitPack is so much easier, thank you. I've changed it to build using the JitPack -SNAPSHOT version now.

[2016-04-18 17:02] smelc opened #123 "Regression in SquidPanel"
In commit 2073750630a5efa0ef7c0e8351da085c94a36f1c, a constructor of SquidPanel was changed: instead of taking the given `TextCellFactory` (as the documentation says), it copies it:

https://github.com/SquidPony/SquidLib/commit/2073750630a5efa0ef7c0e8351da085c94a36f1c#diff-a393ed66cf045402276c1d64d0e22d34

I don't know if this is intended, but it breaks my game, from (terminal shows the current re

[2016-04-18 21:47] tommyettinger commented on #123
I think this is caused by making changes to a TextCellFactory after it has been assigned to a panel or other GUI element. I have another way to accomplish the same thing the original copy was meant to do, without causing this kind of break... I think. I'll remove the `TextCellFactory.copy` in SquidPanel or any other places that do that where it isn't currently expected, and push it into the Defaul

[2016-04-19 00:08] tommyettinger commented on #123
Latest commit may fix this, not sure. SquidPanel no longer calls copy() on TextCellFactory objects passed to it; TCFs obtained through DefaultResources are copied from one stored instance there. BitmapFonts obtained from DefaultResources never changed. There may be some cases where copying manually is needed, and this is done in EverythingDemo to avoid changing text sizes for all SquidPanels to th

[2016-05-03 08:39] czyzby opened #126 "The exact Gradle dependencies for a LibGDX project"
Could you post which library versions should be currently used in a LibGDX project to support all platforms? It seems that `squidlib` is in `3.0.0-b3` version, while `squidlib-gdx` latest published version is still `3.0.0-b1`. What would be the correct dependencies setup and how can you support the GWT platform? (I imagine you'd need to include sources of both mentioned libraries and add a GWT inh

[2016-05-03 09:20] smelc commented on #123
This fixed the issue, thank you.

[2016-05-03 09:20] #123 closed

[2016-05-03 12:04] tommyettinger commented on #126
This is a tricky one with published releases on Maven Central. The name `squidlib-gdx` is from an older version, when we still had Swing as a backend and needed to distinguish them; now the module `squidlib` refers to the GDX textual display classes (`squidlib` previously referred to the Swing display, which was dropped because it was hopelessly slow). Because Maven Central is so unpleasant to dea

[2016-05-03 12:10] czyzby commented on #126
I'm actually working on an alternative `gdx-setup` tool and want to add this extension, so the users could automatically include them in your project. Using Maven Central dependencies is the only way to go for this project, I'm afraid - that's why I asked for the exact dependencies and GWT inherit.

Anyway, if there's a project template that you'd like to contribute (basically a skeleton project f

[2016-05-03 22:39] tommyettinger commented on #126
I think I can get a release on Maven Central sometime fairly soon. I'd like to fix a known "partial bug" first, where TextPanel works fine on its own, and has reasons you would use it now (it displays variable-width text with wrapping in a legible way), but does not display a scrollbar for unknown reasons. The number of unimplemented feature requests has shrunk quite a bit recently, and that might

[2016-05-03 22:40] tommyettinger commented on #126
Oh, and gdx-lml looks like a great improvement, especially being able to pick templates and different languages. Good work there.

[2016-05-04 07:43] smelc commented on #126
Unfortunately, I don't have the fix to TextPanel ready and won't have time to look at it until the end of next week, so don't wait for me.

[2016-05-04 12:49] czyzby commented on #126
That shouldn't have any significant effect on libraries look-up time, should it? I think it wouldn't be much of a problem, but then again - most people are used to stable releases rather than snapshots and their constant refreshing need. If you're planning a release pretty soon, maybe we should just wait a bit and add SquidLib once it's released.

I wouldn't mind if you posted some simple project

[2016-05-04 23:34] tommyettinger commented on #126
Oh yeah, JitPack doesn't need to use snapshots; for each release on GitHub, it creates versions that can be used as stable dependencies, builds them the first time anyone depends on them, and caches them so future depend-ers just use the cached jars. Lookup times are only affected if no one has depended on a release yet, and I would typically have tested the release before anyone else depends on i

[2016-05-05 10:44] czyzby commented on #126
Unless you want a different group ID for it, publishing new artifacts is trivial. Once you get the permission to use a group ID, you no longer need to create Jira issues for new projects.

As far as examples of third-party extensions go, I think the sensible approach would be to provide at least 2 examples: a simple one (*how do I even include this library in my project?!*) and something more comp

[2016-05-05 10:49] czyzby commented on #126
As far as JitPack goes - if there's a possibility of using stable library versions, there's shouldn't be a problem in including it in our current Gradle setup. Just provide me the Gradle-based demo and I'll move all the necessary dependencies and repositories to `gdx-setup`.

[2016-05-07 07:51] tommyettinger commented on #126
It turns out I already had registered the groupid I use for RegExodus, so I just did the normal steps and got it on Maven Central. I should be able to get a 3.0.0-b4 release of SquidLib on Maven Central sometime today or this weekend, but the demos may need some cleaning up. I'm planning on first improving an existing demo that shows the common task of generating a random dungeon, lighting the are

[2016-05-07 14:11] czyzby commented on #126
Including project template is as simple as creating a new class file. We can include the SquidLib dependencies first and then just add project templates when you're ready. To be honest, most third-party extensions currently have no demos - it was just a suggestion that it would be nice (and beneficial) to include some kind of simple test project, so the newcomers could get started more quickly.

S

[2016-05-08 04:46] tommyettinger commented on #126
OK, 3.0.0-b4 is released, let's see if this is all the info...

`squidlibVersion` is currently `3.0.0-b4`. `regexodusVersion` is currently `0.1.3`. Both of these are on Maven Central now, so there's no need to change repositories after all that :smile: .

The module `squidlib-util` does not depend on anything but RegExodus, and games can use `squidlib-util` without depending on the text-based game

[2016-05-08 08:08] tommyettinger commented on #126
CRAP. A one-character mistake in b4's dependency makes it fail as a library entirely. I'm pushing b5 ASAP with no new features other than "actually compiles".

[2016-05-08 09:32] czyzby commented on #126
Keep in mind that TTF fonts are not supported by GWT, unless you use some custom cross-platform TTF loading code.

[2016-05-08 09:50] tommyettinger commented on #126
Well aware of that TTF problem, but Freetype has trouble with the fixed-width rendering SquidLib uses anyway, so we always use bitmap fonts. When things need to scale or stretch we can use the distance field font technique, which alters a bitmap font with a shader to smooth out lines when it's upscaled. It looks like http://i.imgur.com/ZWfYafl.png in practice.
I'm editing the info comment I made y

[2016-05-08 09:55] czyzby commented on #126
Are there any specific descriptions that you'd like to include for each library? I'll include all 3 in `gdx-setup`.

[2016-05-08 10:09] tommyettinger commented on #126
Sure... How about:

`squidlib-util`: Procedural generation, AI, and other non-display code useful to grid-based games.

`squidlib`: Text-based display code meant for grid-based games, using LibGDX and squidlib-util.

`regexodus`: Regular expression engine that works equivalently on all targets, including HTML.

squidlib-parent is just an empty product of the packaging scheme Maven uses, it isn't a

[2016-05-08 10:18] czyzby commented on #126
Done. Would you mind checking if the extensions are properly included? The libraries seem to be downloaded and linked as expected, but without an example project I'm unable to check it yet.

Move to [Gradle setup](https://github.com/czyzby/gdx-lml/blob/master/build.gradle#L87-L130)! It's worth it.

[2016-05-08 10:25] czyzby commented on #126
About the assets: maybe the example project should use just one of the fonts, so `gdx-setup` size doesn't increase that much. We could leave a link (as comment in template code) where you can find other roguelike-optimized fonts and assets, but packing them all just seems not necessary.

I created an issue for the templates: https://github.com/czyzby/gdx-setup/issues/19
Don't hesitate to leave any

[2016-06-07 12:47] czyzby commented on #126
OK, I think this issue can be closed, since now the library is pushed to Maven Central. When you finish the example applications, just leave a comment in the `gdx-setup` project.

[2016-06-07 12:50] #126 closed

[2016-08-09 08:53] tommyettinger commented on #61
I think uh... I think the issue raised here has been entirely resolved. In part because now I've written most of SquidLib, so any remaining issues are probably my fault. In fact I've probably changed enough of TextCellFactory for just stuff like distance field fonts that I'm now well-familiar with the text layout code. This issue is like a portal back through time... Time to close it. Sorry for th

[2016-08-09 08:53] #61 closed

[2016-08-30 23:43] SquidPony opened #130 "PlannedAStar should probably be pulled out"
It looks like it is redundant with DijkstraMap present along with some issues referenced in the documentation for it

[2016-08-31 22:12] tommyettinger commented on #130
Agreed, until AStar is improved (not sure what's making it so slow yet), DijkstraMap should be the focus. As an aside, it turns out DijkstraMap uses Breadth-First Search as its algorithm but produces the same data that Brogue calls Dijkstra Maps. The next set of work for pathfinding will go into finishing the alternate adjacency code used by CustomDijkstraMap, allowing portals, multi-level dungeon

[2016-09-01 00:15] #130 closed

[2016-09-01 07:11] smelc commented on #130
AStar is slow ? Damn I thought that DijkstraMap was the slow one, given that it offers much more features, I should reverse my implementation that uses AStar for long paths and DijsktraMap for short ones, is that correct ?

[2016-11-17 19:37] BenMcLean opened #135 "Setup tool gives questionable gradle info, and no gitignore"
Took me a while to figure out why I couldn't update SquidLib after making a new project See this commit here that seemed to fix it: https://github.com/BenMcLean/Planet-Generator/commit/ba7098161066bea664a9609c490bbbe7a05d3c6e

Ideally, the setup tool should take care of that, I believe.

Also, it would be nice to have it make you a proper gitignore.

[2016-11-17 22:12] tommyettinger commented on #135
I have no idea how I'd get the setup tool to acquire the latest version string from JitPack, it may be possible though. I remember having severe issues using their "SNAPSHOT" version, where the IDE would get stuck on one old version but think it was still on the snapshot, so I'd lean away from using their automatic-latest-version attempt. It is a good idea to update some of this stuff though, like

[2016-11-17 23:24] tommyettinger commented on #115
It looks like this is fixed, so I'll close this issue. Deep map generation could probably be more robust, but for reasonably-sized maps (more than 50x50x8 or so) it should be fine in general.

[2016-11-17 23:24] #115 closed

[2016-11-17 23:31] tommyettinger commented on #135
I'll switch the default Maven coordinates to the ones JitPack uses (`com.github.SquidPony.SquidLib` instead of `com.squidpony.squidlib`) and default to a release on JitPack once the next stable or beta release is out. That should make updating easier; I can also try to improve the docs and add a .gitignore to projects made with SquidSetup. The plan is to ease away from SquidSetup since it's so cum

[2016-11-17 23:31] #135 closed

[2016-11-18 08:37] tommyettinger commented on #46
So, a lot has changed in the last 16 months, and `Filters.PaletteFilter` allows a lot of this to be automated. In the last commit, I added DawnBringer's 16-color and 32-color palettes to SColor; automatically replacing all colors with one of the 16 colors looks fine, but oddly the 32-color palette looks less readable. I'm not sure external palette file formats are worthwhile to bother with parsing

[2016-11-19 00:14] tommyettinger commented on #18
This is partially supported by squidlib-extra, at least long-term storage of various common data types. The mechanism here is libGDX's Preferences class for storing Strings, along with customized support for JSON stringification of data, plus a dependency on a lib I worked on called BlazingChain that compresses the Strings. The last one is important because on GWT targets, data saved by Preference

[2017-01-02 19:35] SquidPony opened #137 "Nested ProbabilityTables would be nice"
Currently if I want to have it so that an item in the table is actually a new table to roll on again it's rather awkward. It would be nice if I could add tables as a weighted entry and when rolling get back an item as deep as needed if sub-table rolls are also needed

[2017-01-02 19:38] SquidPony opened #138 "Setting RNG on probability tables after creation"
I find myself wanting to instantiate probability tables from JSON objects and want to change their RNG to a new one after creation.

Really the best thing for me would be the ability to in one place set the RNG that all things that need one would use. If that's not doable then setting them per class might be fine as well, but it seems like a single static RNG at the class level might also be not g

[2017-01-02 19:42] SquidPony commented on #46
It seems like this one is closeable, but @tommyettinger I leave that to your discretion

[2017-01-02 19:43] SquidPony commented on #32
@tommyettinger is this now covered by the current bitmap font system?

[2017-01-02 19:52] SquidPony commented on #3
no more Swing, no more need for this

[2017-01-02 19:52] #3 closed

[2017-01-02 19:53] SquidPony commented on #6
I'm marking this as high priority since with the current libgdx implementation of panels it's manually intensive to create a viewport into a large map

[2017-01-02 19:55] SquidPony commented on #28
This is an on-going item but has enough traction to call done at this point. Further generation algorithms should get their own individual RFEs for better tracking

[2017-01-02 19:55] #28 closed

[2017-01-02 19:56] SquidPony commented on #96
I'm calling this closed due to the open ended nature of the site cleanup part being the part left and that will likely always be an issue while the project is alive

[2017-01-02 19:56] #96 closed

[2017-01-02 19:57] SquidPony commented on #113
fwiw, the newer Gradle support in NetBeans makes the import process even easier

[2017-01-02 20:57] tommyettinger commented on #138
I haven't used the probability table code, and need to get more familiar with it. Recursive probability tables may be trickier to serialize to JSON (or XML, or YAML, or any non-binary format...), which I think is what #137 is suggesting.

To answer your second paragraph, is seeding important here, or is the code just saying "gimme some random values" and passing, say, null for an RNG parameter? Us

[2017-01-02 21:02] SquidPony commented on #138
Seeding would be important there, but good point about Android statics.

The StatefulRNG might be a reasonable solution by the sound of it. I haven't used that one yet

[2017-01-02 21:06] SquidPony commented on #53
This is likely not needed at this point, replacing it with a more direct RFE

[2017-01-02 21:06] #53 closed

[2017-01-02 21:07] SquidPony commented on #52
This is no longer needed

[2017-01-02 21:07] #52 closed

[2017-01-02 21:09] SquidPony opened #139 "SVG support for dungeon generation"
It would be nice if something like https://xmlgraphics.apache.org/batik/ could be incorporated into dungeon generation so that layouts could be created in an external SVG editor and applied at run time as templates.

[2017-01-02 21:10] SquidPony commented on #45
It seems there's no real demand for this, closing it

[2017-01-02 21:10] #45 closed

[2017-01-02 21:13] #34 closed

[2017-01-02 21:18] SquidPony commented on #137
My use case for this is basically to be able to create something like "WoodTypeTable" that drops varying amounts of wood splinters and sticks and then reference it from anything made of wood as part of its destruction loot drop.

[2017-01-02 22:03] tommyettinger commented on #44
Pretty sure this can be closed, heh. TextCellFactory using libGDX may have other somewhat-slow areas but none are bottlenecks, to my knowledge.

[2017-01-02 22:03] #44 closed

[2017-01-03 04:01] tommyettinger commented on #137
Is there a limit on how many sub-table rolls can be performed, as the case usually is in tabletop games? D&D 3.x often has a d% roll of 100 produce 2 rolls on the same table, ignoring duplicate 100 results. It seems like this would best be handled with a function parameter (here, an inner class probably) that implements some interface, and a subclass of ProbabilityTable that requires its generic t

[2017-01-03 04:11] tommyettinger commented on #139
Oh, barf. If "xmlgraphics.apache.org" doesn't make you immediately question why you are there in the first place, there may be a support group for that. SVG is such a bad fit for a grid-based layout... Raster would make sense, and in fact I've edited dungeons using XPM images (which are plain text files), but the amount of support it would take to handle, say, Bezier curves, as they approximate to

[2017-01-03 17:31] SquidPony commented on #137
Good point about the recursion in the case where the same table is a child of itself. Defining it to not count itself in child results would be best, but I'd be okay with either defining a limit that you're not supposed to have references that can cause loops in the tree or with having it only return a single thing, which I would then have to check to see if it was of type ProbabilityTable and man

[2017-01-03 17:37] SquidPony commented on #139
Interesting. I'm open to other suggestions here for sure. I basically would like a way to design complex blueprints that can be resized to some extent. That being said I suppose the resizing isn't actually that important since scale for the grid would be just a straight multiplier on walls.

I'm going to close this one, it's probably a bad idea :)

[2017-01-03 17:37] #139 closed

[2017-01-04 20:15] zacharycarter commented on #139
I've prototyped a few dungeon generation concepts in my POCs for my game derelict.

1) Dungeons that are laid out in the shape of a spaceship hull, with lock and key puzzles that are guaranteed to be solvable upon creation. This technique could be applied to other shapes too - it requires a black and white input bitmap which is basically a space map for how the dungeon layout is generated.

2) Dun

[2017-01-06 17:29] SquidPony commented on #139
@zacharycarter there is interest on my part for sure

I worked a bit towards a generation grammar in the past but didn't have much success with it.

[2017-01-06 21:51] tommyettinger commented on #139
Thanks to @zacharycarter 's recommendation of MetaZelda, I've brought in a fork of that project to the squidpony.squidgrid.mapping.locks package, and it seems to work so far. I need to test it more thoroughly, but it provides enough info to build at least the layout of rooms in a grid, and may have enough info to handle the keys (Symbols in MetaZelda terms) being placed in the correct rooms. The g

[2017-01-06 22:47] zacharycarter commented on #139
I'll try to throw together some generative grammar stuff over the weekend. Nice work @tommyettinger .

[2017-01-09 09:03] smelc commented on #139
Just in case someone wants to hack something, if there was a castle-generation algorithm; I'd be glad to use it, as I plan to do a special level on that theme (rogue defending the castle against invading monsters).

[2017-01-25 04:02] tommyettinger opened #142 "[Discussion] Restructuring squidlib-util into single-purpose projects"
(Continuing from a note on #141 , I'd like to start a discussion about potential alternatives to the current "monolithic" squidlib-util project, ideally for after a stable 3.0.0 release.)

I think squidlib-util is getting too broad in scope and could or should be refactored into smaller, inter-dependent projects. This would allow library users to only include what they need and avoid adding unnece

[2017-01-25 07:02] smelc commented on #142
I think it'd indeed be nice if the project was split into more subprojects. I think SquidLib's core consists of the dungeon generating algorithms, FOV, LOS, DijkstraMap, AStarSearch, CoordPacker, GreasedRegion, Zone, ZOI, RNG, etc. More exotic features (FakeLanguageGen that I know of, and others I guess) would be better off in spinoff projects. For example, in my setup it would make sense not to d

[2017-01-25 19:51] SquidPony commented on #142
I think splitting it apart more could be fairly challenging and dilute the usability of it for new users. That being said though, if the install tool can be made to work with all the parts in a friendly way and the library can be more useful to more people by splitting bits up more, I'm for it.

I take it as a good sign that there's so much meat that we have some growing pains on the structure of

[2017-01-26 08:02] tommyettinger commented on #142
@SquidPony , that's a good point re: usability, but if new users are't going through the source itself, then there's not much difference as long as the docs are clearly linked. One idea I'm considering near the top of the list is keeping everything in the same repo (to help keep links to SquidPony/SquidLib intact), but using Maven modules like the current split between `squidlib`, `squidlib-util`,

[2017-01-26 08:14] tommyettinger commented on #142
@smelc , I'm not totally sure if RegExodus is limited to just the text-processing classes. There's a few cases where I need lists of upper-case letters, lower-case letters, all letters, and so on for certain uses (mostly where symbols need to be assigned to a potentially large range of items, and adding punctuation chars as symbols that represent one thing where some of those symbols already have

[2017-01-26 08:47] smelc commented on #142
I agree that keeping one github repo would be nice as it makes clear what's SquidLib entry point is. Splitting the sources in different subfolder like we do for squidlib-util, squidlib-extra sounds good to me.

[2017-01-26 15:29] SquidPony commented on #142
Also agreed on single entry with split packages. Jackson does that and
while a bit confusing it's at least easy enough to see what parts exist.

On Jan 26, 2017 00:47, "smelc" <notifications@github.com> wrote:

I agree that keeping one github repo would be nice as it makes clear what's
SquidLib entry point is. Splitting the sources in different subfolder like
we do for squidlib-util, squidlib-extr

[2017-01-27 04:24] tommyettinger commented on #142
Glad there's a consensus. I'll probably start cleanup on unused classes in SquidLib's current setup next, then issue release 3.0.0-b7 shortly afterwards. After a round of hopefully-rather-intensive checks on b7 to ensure it's as bug-free as we can get it, that would be time for release 3.0.0 with the current split of squidlib-util, squidlib, and squidlib-extra. Beyond that, I think 3.x would becom

[2017-01-27 12:47] smelc commented on #142
I think all the classes marked deprecated in squidpony.squidgrid.gui.gdx should be deleted soon, as I don't use them anymore, and hence I won't be able to maintain them.

Please note that I use most of the classes there that I wrote that aren't deprecated, such as AbstractSquidScreen, LinesPanel, and SquidPanelBuilder. One exception is TextPanel which I forked in Dungeon Mercenary, because I was u

[2017-01-27 21:53] tommyettinger commented on #142
OK, I'll accept the PR as best as I can (there are merge conflicts), and refactor after that so it downloads dependencies from Maven Central instead of requiring a challenging build setup. I'll also remove the deprecated classes in the display module, and TextPanel.

[2017-02-22 04:57] tommyettinger commented on #137
The last commit, cab6f61d9ab10ab08c7baac95259ea7f375b2d31 , should resolve this as long as nobody uses cyclical tables, and it warns quite a bit about that in the docs. One of the trickier things is having a set-like or map-key-like way to access the ProbabilityTable items and their weights, since those items are mutable, so we use hashing by identity for probability tables inside other tables. Th

[2017-02-22 04:57] #137 closed

[2017-02-22 05:00] tommyettinger commented on #138
There's currently code in ProbabilityTable to set the RNG to a different reference, but you can also give the constructor a StatefulRNG and keep it around to change the state with its `setState(long)` method or obtain the current state with `getState(long)`. The RNG is not copied, and is instead shared with any other usage of that variable, so that should do most of what you want.

[2017-02-22 05:00] #138 closed

[2017-02-22 05:02] tommyettinger commented on #65
Can you let us know what the story is with this bug, @SquidPony ? Is it still an issue or can we close?

[2017-02-22 05:06] tommyettinger commented on #31
By "spin" do you mean change from frame to frame from, say, '0' to '1' to '2' and so on, or actually to rotate in-place? Rotation is tricky but can currently be done. Changing the char in a cell over time, like how Cogmind does for animations, might also work rather easily. We can already change colors over time, so it should be fairly straightforward to cycle through a sequence of characters.

[2017-02-22 05:09] tommyettinger commented on #6
Agreed. I'll start on this after the 3.0.0-b7 release. The release should be tomorrow but the work on this may take a little while; I'm not sure just what will be involved and SquidPanel has become somewhat of a monstrous class.

[2017-02-22 05:19] tommyettinger commented on #46
Yeah, we have the red-green colorblindness filter working, though I'd like some feedback from someone with that condition on whether it helps or not. Being able to customize the filters would be a good goal for the future, so a player could have the game configured to do something like what Pokemon Red and Blue did when played on a GameBoy Color, with different tints applied to a grayscale basis a

[2017-02-22 05:19] #46 closed

[2017-02-22 05:25] tommyettinger commented on #59
Hey, we have thin wall support now! It's mostly in the Adjacency class and is used by CustomDijkstraMap. It doesn't currently involve directional light tracking, and LOS/FOV haven't been updated to work directly on the alternate way of handling creature positions (though they work fine with normal (x,y) positions, including with thin walls, but there's no way to, e.g. make one rotation in a cell h

[2017-02-22 08:33] #42 closed

[2017-03-21 19:41] Zireael07 opened #144 "ArrayIndexOutofBoundsException in DijkstraMap"
I got this crash on line 1283 several times when setting up my Dijkstra-using AI.

My best guess is that it happens if the AI is on the edge of the dungeon map and tries to check a direction which ultimately lies off-map. (The crash doesn't happen if none of my AI actors generate on map edges)

I could probably attempt a quick fix in my local files but I would prefer a proper fix in the repo :)

[2017-03-22 02:20] tommyettinger commented on #144
Totally possible; I almost always do map bounding in the maps generated by the various dungeon generators. I'll get right on this. I don't think DijkstraMap has changed since 3.0.0-b8, but if you are using a version before that it will be different (it changed in b7 and thus in b8).

[2017-03-22 02:35] tommyettinger commented on #144
Looks like you're using an older version or the line number isn't matching the same section. In 3.0.0-b8, which has had a large number of changes/fixes to DijkstraMap and related code, [here's line 1283](https://github.com/SquidPony/SquidLib/blob/v3.0.0-b8/squidlib-util/src/main/java/squidpony/squidai/DijkstraMap.java#L1283). I don't think any API broke in 3.0.0-b8's changed other than the cover-s

[2017-03-22 03:35] tommyettinger commented on #144
I'm guessing that the error was encountered in [veins-of-the-earth](https://github.com/Zireael07/veins-of-the-earth). If that's the case, try updating your build.gradle file to the current dependency versions. That would be `squidlibVersion = '0cd74bbd9b'` and `regexodusVersion = '0.1.9'`; there may have been some breaking changes since May 2016 (when your current version is from in that project),

[2017-03-22 08:18] Zireael07 commented on #144
Thanks @tommyettinger I will update.

The SquidSetup part should be updated soon then, as other people might be falling in the same trap I did (following the readme, then discovering it's outdated)

[2017-03-24 19:49] Zireael07 commented on #144
Updating seems to have resolved the issue, thanks.

@tommyettinger pinging to remind about updating the readme on SquidLib repo

[2017-03-24 19:49] #144 closed

[2017-03-24 23:31] tommyettinger commented on #144
Readme is updated, not sure how suitable it is yet. Might be too long. Thanks for using SquidLib, looking forward to Veins of the Earth!

[2017-04-23 08:16] tommyettinger commented on #6
This is mostly implemented now. It uses libGDX's Camera to smoothly pan over cells as they come into view, and allows truly massive dungeon levels to be explored without generating extra parts mid-way through. The actual usage is somewhat cumbersome, and I think that it may be possible to streamline it soon (possibly using StarterKit to establish the initial objects this needs, since a Camera isn'

[2017-04-23 08:23] tommyettinger commented on #25
Pfft, Height maps. Think bigger, @SquidPony ! Now we have world maps with height maps, heat maps, moisture maps, biomes, optional political maps, and so on. You can thank @zacharycarter for the original worldgen, he rules.

If this is for a cave's height, then the Noise class offers various ways to mix noise functions to get a suitably organic look (if you have x and y positions, then you can get

[2017-04-23 08:23] #25 closed

[2017-05-21 19:36] SquidPony opened #151 "jitpack.io failing causes inability to build or work on projects using squidlib"
For at least the last week I have been unable to use squidlib through jitpack.io due to the library never being fully served. This means that I cannot build or run without disconnecting jitpack.

I have no idea what's up with jitpack. Their site loads okay and most of their pages open right away. Hitting the log or trying to pull the artifact through gradle both just hang forever (an hour is the l

[2017-05-21 21:33] tommyettinger commented on #151
Woah, that's odd. It's worked for me so far, I use it in https://github.com/tommyettinger/ColorGuard much of the time. One thing I noticed was that sometimes the commit builds don't appear in the list for some indeterminate amount of time, but you can still build them using the first 10 chars of a commit hash on GitHub, such as this commit: https://github.com/SquidPony/SquidLib/commit/1d85a814ce72

[2017-05-21 21:35] SquidPony commented on #151
As an example, the log page for the most recent commit will not load for me: https://jitpack.io/com/github/SquidPony/SquidLib/1d85a814ce/build.log

I'm wondering if it's a connection problem on their (my?) end maybe.

The rest of their site seems fine...

[2017-05-21 21:38] tommyettinger commented on #151
It might still be building. It's possible the docs may need to be cleaned up because they add quite a lot to repo size, and JitPack may be cloning each time, I don't know. The change history on all the JavaDocs is a hefty download.

[2017-06-01 17:33] Duke02 opened #152 "Make dungeon generators all implement a single interface."
We could have an interface that all dungeon generators implement from. The interface could be something like this -
[code]
and potentially other functions if the need arises. This would entail some renaming of most dungeon generators.

This interface could then be used for flexible dungeon generation, such as -

[code]

[2017-06-02 04:44] tommyettinger commented on #152
I like this idea, but there are some things to figure out. The generate() method definitely works over all of them, no question, but for at least SectionDungeonGenerator (probably also ThinDungeonGenerator), the addDoors(), addWater(), and similar methods take an extra parameter for what dungeon areas (room, corridor, or cave) should be affected. There could be a standard IDungeonGenerator method

[2017-06-02 06:41] tommyettinger commented on #151
It seems to have been working for a while; I remember this was mentioned either over a week ago on IRC and was fixed then. The solution, which I should have mentioned, is that you can always build SquidLib and install it locally with the command `mvn install` from the root of the project, or a similar command in an IDE used on squidlib-parent . This uses different dependency coordinates, which is

[2017-06-02 06:41] #151 closed

[2017-06-02 06:42] smelc commented on #152
@tommyettinger> the "add" methods in IDungeonGenerator could return a boolean indicating if the request could be honored. Dungeon generators that do not know lakes and mazes would return false for these methods.

[2017-06-02 07:34] tommyettinger commented on #152
I think I will close this for now, since c054fae74f3ab239aab0d5df9ec34890e6c0e530 covers the basic "can it generate a 2D char array" function for a lot of classes, but I am happy to reopening it if there's some specific functionality that should be wrapped in this or a similar interface, maybe for a smaller subset of classes that also share methods.

[2017-06-02 07:34] #152 closed

[2017-06-10 19:17] SquidPony opened #153 "IMarkup and related classes have no documentation on them"
I'm not sure how to use them beyond just sending strings in.

[2017-06-10 22:53] tommyettinger commented on #153
Good point. That is actually all they're there for; the main usage is via GDXMarkup, which just handles colored strings using libGDX's Label formatting technique, and doesn't do italics or underlining or anything like that. The idea is that library code can use `IMarkup<T>` formatting by calling `getMarkup(T)`, which produces a String that whatever does rendering can interpret as it will for that

[2017-06-10 22:58] tommyettinger commented on #153
A further example for IMarkup would be some implementation of `IMarkup<Creature>` that produces specific Strings that change in a time-based sequence when a Creature object is passed to its getMarkup() method, and time is taken from `System.currentTimeMillis()` or something like it. It wouldn't be unreasonable to have a GDX-specific `IMarkup<Creature>` that also colors the changing string using th

[2017-06-10 23:25] #153 closed

[2017-06-17 13:44] SquidPony commented on #31
I mean like with an odometer where one number slides off the top while another slides up from the bottom (on a or ribbon in most physical cases). I'm not sure if rendering could be masked to the edges of a cell, if so this might not be too hard.

[2017-06-17 14:08] SquidPony opened #154 "FOV returns doubles but ColorCenter wants floats for lerp"
I'd much prefer ColorCenter to also allow doubles for lerp (and maybe other operations, lerp is just the first one I hit)

[2017-06-17 14:38] SquidPony opened #155 "SquidColorCenter returns com.badlogic.gdx.graphics.Color but should return squidpony.squidgrid.gui.gdx.SColor"
ColorCenter returns libgdx Color objects but I think it probably should return SColor objects instead since SColor can be a Color just fine

[2017-06-17 14:39] SquidPony commented on #65
confirmed that this is all fine now

[2017-06-17 14:39] #65 closed

[2017-06-17 15:37] SquidPony opened #156 "DijkstraMap documentation does not explain what the optional rng passed in does"
Some of the methods that take an rng partially explain what's going on, but it would be nice if the class doc itself explained how the rng was used to choose between same-length paths.

[2017-06-17 15:39] SquidPony opened #157 "DijkstraMap should have a scan() without a parameter"
Should allow

dm.scan()

instead of

dm.scan(null)

[2017-06-17 16:20] SquidPony opened #158 "using DijkstraMap with FOV is awkward"
I'd like to be able to pass my FOV result directly into DijkstraMap to limit it's search to only FOV areas with visibility above some arbitrary value (although above 0 is probably fine as well)

As it stands, I think I have to calculate all locations on the map that are not seen by the FOV and pass those as impassible to DijkstraMap

Bonus extra cool if the DijkstraMap directly talks to the FOV la

[2017-06-17 17:23] SquidPony opened #159 "DijkstraMap initialize(double[][] level) is unclear"
Given initializeCost also exists, it's unclear what the difference is, except that the cost related mehod requires special handling for fully impassible objects. What values are expected from non-cost initialization? Using values from 0 (walkable) to 1 (impassible) does not seem to work

[2017-06-17 17:32] SquidPony opened #160 "initializeCost(double[][] cost) with only DijkstraMap.FLOOR does not seem to work"
This could be user error on my part, I'm not exactly sure how I'm supposed to be using this functionality.

[2017-06-17 17:45] SquidPony opened #161 "DijkstraMap can't find path"
Using a shadowmap FOV a subset of map cells are found and all non-visible cells are marked as blocked for the DijkstraMap instance. Not all visible cells are shown to have a path.

![path found](https://user-images.githubusercontent.com/1217477/27255023-f7e0952a-5349-11e7-903d-c772e6ca3f92.png)

![path not found](https://user-images.githubusercontent.com/1217477/27255025-fc906c3a-5349-11e7-9cd0-e7

[2017-06-17 18:13] SquidPony opened #162 "DijkstraMap documentation doesn't say what default corner blocking is"
Probably 0? For Manhattan though it might be 2?

[2017-06-17 18:20] SquidPony opened #163 "DijkstraMap uses its own measurement class instead of Radius"
This just seems weird, given that there are equivalent radius strategies in the same project. Even a converter on each of them to the other would be called for, if not an actual merging.

This is especially weird when using a FOV and DijkstraMap together with two different constants describing how they do what should be the same mathematical result (cost of angles)

[2017-06-17 19:57] SquidPony opened #164 "It would be nice to have DijkstraMap's straight-ish line directly settable to some styles"
I'm thinking of the following, with the last one most strongly desired. ("Always" and "Never" mean when choosing between equally length paths only)

Always prefer horizontal

Always prefer vertical

Always prefer diagonal last

Always prefer diagonal first

Always spread out diagonal across the entire length as evenly as possible

Never switchback

[2017-06-17 20:05] tommyettinger commented on #163
First paragraph: yes, this should be fixed, but it will break backwards compatibility if DijkstraMap changes to another enum in externally-visible variables. Conversion is fine and is already available: https://github.com/SquidPony/SquidLib/blob/master/squidlib-util/src/main/java/squidpony/squidai/DijkstraMap.java#L501-L533

Second paragraph is incorrect for the case of Euclidean measurement; FOV

[2017-06-17 20:05] #163 closed

[2017-06-17 20:07] tommyettinger commented on #164
I have no idea what this is referring to. Can you elaborate?

[2017-06-17 20:18] tommyettinger commented on #162
It's 2. This will be mentioned in the docs in the next commit; I'm committing once I get through the rest of the Dijkstra issue dump.

[2017-06-17 20:18] #162 closed

[2017-06-17 20:20] tommyettinger commented on #161
Show some code, please. I'd be like the LibGDX people and insist on an SSCE, but that would be rude.

[2017-06-17 20:27] SquidPony commented on #164
The blue arrows point to sections that could instead be straight, as an example

![choices](https://user-images.githubusercontent.com/1217477/27256082-8c589796-5360-11e7-9e12-de60bbc94354.png)

Which actually points out that the above list should include "Never switchback"

[2017-06-17 20:27] tommyettinger commented on #160
Cost maps aren't likely to be useful very often yet. They technically do apply to the cost to enter a cell, but that cell can still be chosen for a path if there is no better option. They would be more accurately called preference maps, and I thought some documentation covered them... Ah, yes, indeed I did write that. https://github.com/SquidPony/SquidLib/blob/master/squidlib-util/src/main/java/sq

[2017-06-17 20:27] #160 closed

[2017-06-17 20:27] tommyettinger commented on #164
Looks like you're using Chebyshev; try Euclidean and see what happens.

[2017-06-17 20:28] SquidPony commented on #161
It's all tangled up in Epigon, lemme see what I can chunk out

[2017-06-17 20:43] SquidPony commented on #164
In this picture you can see that it went full horizontal then vertical at the line but it could have made that alternating for a diagonal overall
![angles](https://user-images.githubusercontent.com/1217477/27256198-fb73fe34-5362-11e7-9914-ca25c477b9e9.png)

[2017-06-17 21:36] SquidPony commented on #161
This might be related to a problem I'm having with blocking coords not being respected as expected.

fovResult is a previously calculated result which visually is correctly showing up as seen in the pictures above

`
    private Collection<Coord> calculateBlocked() {
        Set<Coord> blocked = new HashSet<>();
        for (int x = 0; x < BIG_MAP_WIDTH; x++) {
            for (int y = 0; y < BIG_

[2017-06-17 21:45] tommyettinger commented on #158
There are some issues with doing this for AI pathfinding (it enables pillar dancing and makes an AI unable to find you as soon as you walk behind an obstacle). It should be fine for player path determination. Somewhat surprisingly, GreasedRegion makes this task fairly easy, since it can be calculated from an FOV `double[][]` with any minimum and it counts as a `Collection<Coord>`. I just committed

[2017-06-17 21:45] #158 closed

[2017-06-17 22:06] tommyettinger commented on #161
I'm not totally sure what the issue is here, though there could absolutely be one. It is possible that a cell may be visible but there's no path to it; I may be able to see across a chasm but not jump over it. I don't know what YES and NO are supposed to mean here; did you hover the mouse, or some similar pathfinding thing, over "NO" and it didn't get a path to it? Could this be related to mouse p

[2017-06-17 22:20] SquidPony commented on #161
I hovered the mouse over the bottom position and didn't get a path even though hovering over the position above (the "yes" and top picture) shows that the tile right above is walkable.

Mouse to map seems to work correctly when there's no FOV going on. The problem could easily be that I'm just not linking them correctly.

[2017-06-18 01:00] SquidPony commented on #161
So I did in fact have the fov recalc in the update render loop which added weirdness, but even with that fixed I'm seeing that behavior. In the picture below the tiles to the SE should be highlightable as pathable but they're not when moused over.  It only seems to happen when there's a tight squeeze along the path.

![squeeze](https://user-images.githubusercontent.com/1217477/27257327-dfca5290-53

[2017-06-18 02:19] tommyettinger commented on #164
That looks like Manhattan in the latest image. I don't know how it would work for the paths to be able to predict future directions and change movement to fit; currently this is randomized and you got a bad draw.

[2017-06-18 03:20] tommyettinger commented on #161
I fixed this in your code that you hide from prying eyes. It isn't a SquidLib bug, so I'll close the issue, but if anyone comes across this later:

The issue happens when impassable cells are derived from anything not in FOV, and only is caused by FOV being recalculated at the wrong time(s). This can be avoided by calculating the currently visible cells at the end of each player movement (by one c

[2017-06-18 03:20] #161 closed

[2017-06-18 03:26] tommyettinger commented on #159
Costs were added much later; the `double[][]` constructor pre-fills the field called (internally at least, maybe also publicly visible) `gradientMap`. This can be useful if you have an existing DijkstraMap and want to operate on a copy of it to do things like what `findFleePath()` does, getting paths to cells in an existing DijkstraMap result with optimal values for some constraint. This construct

[2017-06-18 03:26] #159 closed

[2017-06-18 03:38] #157 closed

[2017-06-18 04:02] tommyettinger commented on #156
I could explain it a bit better if I knew what wasn't clear. I think it could be mentioned that the RNG is not used during `scan()` or the related `partialScan()` methods, but is used during most of the path-finding methods (`findPathPreScanned()` is an exception since it is meant to be more deterministic, and does not use the changing RNG member). It's pretty much exactly how you said it though;

[2017-06-18 04:24] tommyettinger commented on #155
The last statement is usually correct; an SColor can be used as a Color. "Usually," because some generic collections of generic collections may need a wildcard to specify `<? extends Color>` if they want to handle Color and all of its subclasses; where needed, SquidLib does this. However, for the rest of the issue, you have it backwards; `SColor`s have a name field that Colors do not have. We can

[2017-06-18 04:24] #155 closed

[2017-06-18 04:37] tommyettinger commented on #154
Sure, this is reasonable. Some places where floats show up need to use the float type because libGDX must use floats to send colors onto the GPU (Java lacks the structs that C/C++ OpenGL uses to transfer colors, and many older mobile GPUs don't support doubles on the GPU, so colors must be compacted into 31 of the 32 bits of a  IEEE single-precision float, with the bit set at position `0x01000000`

[2017-06-18 05:16] tommyettinger commented on #31
Seems useful, but difficult to implement... It's surprisingly hard to render only a portion of a texture without weird stretching/jittering issues, though I have done it with non-text images. I have an idea for mimicking the effect by shrinking one char away from the top while another stretches from nothing toward the bottom to fill the space. That might be easier.

[2017-06-18 05:41] SquidPony commented on #164
Yeah, I switched to Manhattan for that last one since what I meant is clearest there. Euclidean does seem to do better than Chebyshev, fwiw.

I think what I'm really asking for here is more complex than just adding a feature to DijkstraMap. I'll close this issue since it's now been discussed and there's not much reason to make any changes.

[2017-06-18 05:41] #164 closed

[2017-06-18 05:51] SquidPony commented on #155
All the things you said are logical and correct, I concur.

Thanks to Unity, .net 2-ish and thanks to domain specific work, basically no generic work on the Java side in at least a year. You're right that I need to get more practice, and this issue is just one of likely many examples of my re-growing pains to come :)

[2017-06-23 15:16] SquidPony commented on #85
Is this still a thing?

[2017-06-23 19:15] smelc commented on #85
@SquidPony> In my IDE, I've separated warnings coming from my code (of which there should always be none!) and warnings coming from SquidLib (as of now: 1332), so this isn't an issue anymore for me.

I suggest to close this overzealous task.

[2017-06-23 21:42] tommyettinger commented on #85
I think a lot of the warnings are still doc-related, which would be a large task to fix. Some warnings are code-related but I'm generally careful now to use `@SuppressWarnings("unchecked")` and related annotations when needed. A lot of things javac warns on are rather silly. I'm happy to close this; I'll fix documentation that's missing some tags or whatnot as I encounter it and have time to fix i

[2017-06-23 21:42] #85 closed

[2017-06-23 21:50] #154 closed

[2017-07-04 17:53] SquidPony opened #165 "Can't set individual panels' erase color"
Working with multiple panels requires manually drawing each cell on each (that's not the default background color) one to the background color desired. Since erase() is meant to be the means to avoid doing exactly that, this seems odd.

[2017-07-04 17:57] SquidPony opened #166 "libgdx vs old style artifacts and erasing discussion"
While erase() now is much faster than Swing squidlib it seems that the entire screen has to be redrawn every render update. This seems to be trading an occasional expensive operation for a guaranteed expensive operation all the time.

In the old days one had to manage only those parts which changed on each panel, which in many cases is not much. Now I have to rebuild my display every frame, which

[2017-07-04 18:00] SquidPony commented on #166
Well I guess it must be caching something since not everything goes away. I'm confused to what gets cleared by the libgdx render loop and what doesn't I guess.

[2017-07-04 18:20] SquidPony opened #167 "putString with background color seems to be wrong"
![background wrong](https://user-images.githubusercontent.com/1217477/27840019-8903a552-60aa-11e7-8b65-ffeae53a028b.png)

code:
`contextPanel.putString(5, 3, "CONTEXT", SColor.KIMONO_STORAGE, SColor.LIGHT_LIME); `

No idea why the background doesn't fill the same space as the text

[2017-07-04 18:37] SquidPony opened #168 "putString() should have a version with just foreground color needed"
currently have to have
`infoPanel.putString(x, y, text, color, background);`

it would be nice to be able to have
`infoPanel.putString(x, y, text, color);`

where color is a Color and not an int

[2017-07-04 18:39] SquidPony opened #169 "why isn't putString() put() like the rest?"
It seems weird. I get that put() has a lot of instances but maybe the answer there is to split out the ones that take an array index int as putIndexed() or something rather than splitting on String vs char

[2017-07-04 19:09] tommyettinger commented on #169
It's a good question, but personally I wonder why they're mostly put() to begin with. A suggestion for auto-complete on `put(` pops up dozens of similar entries... Anyway, the reason is most likely that SquidPanel, until recently, used a 2D array of Strings instead of a 2D array of chars. This meant `put()` would put into the String for one cell and `putString` would put one char each into multipl

[2017-07-04 19:09] #169 closed

[2017-07-04 19:15] SquidPony commented on #169
They were all put() to start with so that the prime functionality would be very short to enter. In the early early days there were multiple flavors with different names but then it became a matter of finding which version you wanted with which name.

I guess the there might be room for an RFE for 4.0 to have the putFoo() split out better now that there's so many similar methods.

[2017-07-04 19:18] tommyettinger commented on #167
Assuming contextPanel is a SquidLayers with a misleading name, this is a bug, and it has just been fixed. I'll see if GitHub can notice it in a commit message.

[2017-07-04 19:23] SquidPony commented on #167
It is indeed a SquidLayers with a misleading name... I'll go refactor my names :)

[2017-07-04 19:26] #167 closed

[2017-07-04 19:26] #168 closed

[2017-07-04 19:39] tommyettinger commented on #166
Using erase() isn't always necessary. Since SquidLayers and the SquidPanel widgets it contains will have the same contents and colors, if you don't call erase() and replace the contents they should stay the same. That said, things like mouseover-for-path highlighting should be removed each frame, since they can change very frequently while the mouse is moving. Any animations, like the Perlin noise

[2017-07-04 19:58] tommyettinger commented on #165
I'm rather confused by this whole issue. There's no "erase color" other than transparent, and the whole point of erasing is to remove color and char info. The background colors of cells in a SquidLayers are the background SquidPanel's color values, where the cells all have a special control char to indicate they should be drawn with a solid block. I think erase() does what it's supposed to if you

[2017-07-04 19:58] #165 closed

[2017-07-04 20:00] SquidPony commented on #165
You are correct, `mySquidLayers.eraseLayer(1)` was more what I was expecting. Given the answer in the related issue, I see now that this wasn't really a bug after all.

[2017-07-07 15:49] SquidPony opened #171 "RNG getRandomUniqueCells returning out of bound Coord values"
With this code
`        for (Coord coord : rng.getRandomUniqueCells(0, 0, map.width, map.height))
            System.out.println("Testing map (" + map.width + ", " + map.height + ") found Coord: " + coord);`

I'm getting this output
`Testing map (100, 50) found Coord: (45,83)`

My theory is that x and y are swapped somewhere

[2017-07-07 15:50] #156 closed

[2017-07-08 01:31] tommyettinger commented on #171
Good catch! Writing some tests now. I think I found what's causing the bug (you're probably right, it seems to have mixed up `%` and `/` for x and y), and I want to verify.

[2017-07-08 01:59] #171 closed

[2017-07-09 17:07] SquidPony opened #172 "SquidLayers needs setPalette()"
Currently you can alter and extend the palette but not reduce ore set it.

All I really want is a 2 color palette, default background and default foreground for
`put(int x, int y, char c)`

`setBackground(Color color)` and `setForeground(Color color)` would be nice, but if I could set the palette directly that wouldn't really be needed.

[2017-07-09 17:09] SquidPony opened #173 "SquidLayers initPalette() allocating too large of an arraylist"
`private void initPalettes() {
        palette = new ArrayList<>(256);
        Collections.addAll(palette, SColor.LIMITED_PALETTE);
}`

256 should be SColor.LIMITED_PALETTE.length

(I know it's a dumb small thing, I just don't have the lib set up to edit at the moment and don't want to forget this)

[2017-07-09 17:22] SquidPony opened #174 "TextPanel giving incompatible type error"
line 296 (the second shown here)

`	public void init(float width, float maxHeight, Collection<? extends IColoredString<T>> text) {
        this.text = new ArrayList<>(text);
`

is giving the following error in NetBeans

  where T is a type-variable:
    T extends Color declared in class TextPanel
  where CAP#1 is a fresh type-variable:
    CAP#1 extends IColoredString<T> from capture of ? extends

[2017-07-09 17:34] SquidPony commented on #174
this error does not seem to stop it from building, so I'm guessing it's a NetBeans thing

[2017-07-09 17:37] SquidPony commented on #172
added the setPalette() method

[2017-07-09 17:37] #172 closed

[2017-07-09 17:40] SquidPony commented on #173
done

from what I can tell the extra size wouldn't have been directly settable, so this shouldn't break any code

[2017-07-09 17:40] #173 closed

[2017-07-09 19:04] SquidPony opened #175 "SquidLayers palette only partially uses position 0 and 1 for defaulting characters"
Turns out that not all of the methods work as expected when not passing in a color.

This should be adjusted so all of the SquidLayers methods of adding text respect the first two positions in the palette as default colors so that it's consistent.

As a side note, the SquidLayers class having an int position driving array for a palette seems really weird. Beyond having a default front and back col

[2017-07-09 19:07] SquidPony commented on #175
Basically I would expect the first line here to also cover the need to do the next two:

`layers.setPalette(Arrays.asList(new Color[]{SColor.KIMONO_STORAGE, SColor.LIGHT_KHAKI}));`

`layers.getBackgroundLayer().setDefaultForeground(SColor.LIGHT_KHAKI);
layers.getForegroundLayer().setDefaultForeground(SColor.KIMONO_STORAGE);`

[2017-07-09 19:19] SquidPony opened #176 "SquidLayers clear(int x, int y) documentation is misleading regarding what it does"
`
    /**
     * Clear one cell at position x, y of  its foreground contents.
     * <p>
     * You may be looking for the erase() method, which erases all panels and all cells.
     *
     * @param x in grid cells
     * @param y in grid cells
     * @return this for chaining
     */
    public SquidLayers clear(int x, int y) {
        foregroundPanel.clear(x, y);
        return this;
    }`

Has

[2017-07-09 20:33] tommyettinger commented on #176
This is pretty much a bug, yeah. Since erase() fills with space, clear() should too. I have a commit ready that fixes this, though I need to ensure I can pull OK.

[2017-07-09 20:34] #176 closed

[2017-07-09 20:49] tommyettinger commented on #175
I agree that the palette usage is weird. I'm in favor of breaking compatibility on it since we (well, you, I forgot about this) only recently added the ability to change the palette. As such, the palettes weren't terribly useful for most games... The main reason they exist is for squidlib-util to have some kind of standard way to say "this is a wall, this is some water, they have different colors"

[2017-07-10 08:02] tommyettinger commented on #175
Fixed by removing all palette code in SquidLayers and SquidPanel; it was frequently unnecessary when a Color could be fetched yourself from an array or List of Colors for a palette that you control. For making a 2D Color array from a 2D char array, we have MapUtility in the display module, which should replace the indexed-palette-2D-array generating functions in DungeonUtility. We do need to updat

[2017-07-10 08:02] #175 closed

[2017-07-11 14:35] SquidPony commented on #174
fixed by commit e635c45

[2017-07-11 14:35] #174 closed

[2017-07-19 18:06] hawk66 opened #177 "Exception/Screen gets destroyed if game window looses focus"
If the game window looses focus (or I switch to another application on the desktop) either the screen looses its content / it shows some weird artifacts or (mostly) I get following exception:

`Exception in thread "LWJGL Application" java.lang.NullPointerException
	at com.badlogic.gdx.graphics.g2d.BitmapFontCache.addGlyph(BitmapFontCache.java:389)
	at com.badlogic.gdx.graphics.g2d.BitmapFontCache.

[2017-07-19 18:17] hawk66 commented on #177
It happens even without changing the focus but only rarely

[2017-07-19 21:56] tommyettinger commented on #177
Seems like some annoying junk related to libGDX's resume() and pause() methods as they are used in DefaultResources, though the issue would probably be present in any code that was resuming/pausing with GL resources involved. It looks like this is Scala code? I'll try to reproduce in Java, but it's possible the libGDX lifecycle (the system that calls pause() when the window loses focus and resume(

[2017-07-19 22:17] tommyettinger commented on #177
Hm, I can't reproduce with a simple test using that font in Java. Could you be starting a libGDX application in a non-standard way? If the Gdx.app, Gdx.graphics, and similar static fields aren't accessible at some point, there might be some issue with how your code is handling the application lifecycle. DefaultResources relies on the behavior of the libGDX lifecycle so it can work at all on Androi

[2017-07-19 22:24] tommyettinger commented on #177
There's also the possibility that you're calling `dispose()` somewhere when it shouldn't be. Generally you almost never need to call dispose() yourself, and DefaultResources should be handling disposal. If you dispose a resource and then try to use it, that's a bad thing, and you will get NullPointerExceptions at best and segfaults at worst.

[2017-07-20 18:22] hawk66 commented on #177
Thanks for your quick investigation. Really strange, since I've a backup screen without Squidlib and there are no issues.

I'll check your example and recheck my coding and come back. Yes it's Scala but I don't guess that this is the issue.

[2017-07-20 19:03] hawk66 commented on #177
So if I get an instance instead by

` val factory  =    DefaultResources.getStretchableSquareFont`

all is fine...have not found the issue so far but I guess it's somehow related how the stuff is buffered in DefaultResources

BTW: I have not implement any dispose()

[2017-07-20 21:01] tommyettinger commented on #177
Yeah, it is puzzling. There's the libGDX class BitmapFont, which doesn't add any special traits to a font and uses one size unless roughly scaled, and the SquidLib class TextCellFactory, which wraps BitmapFont and sometimes adds traits that allow it to be smoothly scaled (it uses a shader and a specially prepared font image). The `getStretchableThingFont` methods return a copy of a TextCellFactory

[2017-07-21 09:20] hawk66 commented on #177
with the latest commit, I get still null pointer exceptions, especially if another window gets the focus.
`val factory = DefaultResources.getStretchableSquareFont` seems working fine

[2017-07-21 11:33] tommyettinger commented on #177
I just fixed it, not long after your last comment. I have a Scala demo here, https://github.com/tommyettinger/SquidLib-Demos/tree/master/ScalaDemo , and the behavior was actually related to SquidLib calling dispose() when the application is paused. Something in the Scala version (I directly ported a working Java example) behaved differently about the OpenGL context, and the disposed values were no

[2017-07-22 09:48] hawk66 commented on #177
Sorry to report that, but I still face this issue, although it occurs only rarely and I cannot reproduce it deterministically . Sometimes it does not happen, sometimes it happens after the first focus change (and once it happened even during the first startup).

Could you check it on your side: Run it in the IDE and switch back/from it a couple of times...sometimes you get again those weird NullPo

[2017-07-22 20:46] hawk66 commented on #177
In the debugger I've seen that
https://github.com/SquidPony/SquidLib/blob/master/squidlib/src/main/java/squidpony/squidgrid/gui/gdx/TextCellFactory.java, function dispose()

gets called if the application window looses focus. Is this the intended behavior, since then the Bitmap font gets disposed as well ?

[2017-07-23 21:47] gotoss08 opened #178 "SquidLayers stops rendering after losing focus"
This is almost the same error as [this](https://github.com/SquidPony/SquidLib/issues/177), with the exception that I'm not trying to manipulate any static classes or resources or whatever.
The error lies in the fact that when the window loses focus, the SquidLayers stops rendering anything.
Here is very basic example
[code]
And now, if i minimize window or switch to other application, '@' char sto

[2017-07-24 07:02] tommyettinger commented on #178
Does the `@` stop rendering permanently, or just while the window is out of focus? I'll try to reproduce.

[2017-07-24 07:05] tommyettinger commented on #177
I'm not sure if my calling dispose() on BitmapFonts in my code is correct, now that I've seen the improvement gained by not disposing BitmapFonts elsewhere. Are you using a BitmapFont now or are you using a TextCellFactory from DefaultResources?

[2017-07-24 07:31] tommyettinger commented on #177
What's more strange is that TextCellFactory.dispose() should only be called by libGDX when the application as a whole is shutting down, or manually if someone wants to dispose of its resources. As far as I can tell, the only calls to TextCellFactory.dispose() are in DefaultResources, and I just committed some code that moves the calls to dispose() into DefaultResources.dispose() instead of Default

[2017-07-24 08:06] hawk66 commented on #177
no, using defaultResources; yes it's strange, even more strange is that it
even sometimes happens if I do not loose the focus...ok, will try it out
when I come home...

2017-07-24 9:31 GMT+02:00 Tommy Ettinger <notifications@github.com>:

--
Viele Grüße,
Marco

[2017-07-24 08:09] tommyettinger commented on #178
I have a complete example in the latest commit, and it doesn't reproduce this issue at all when it's set up correctly and completely. I suspect part of the issue may be with how you're calling `SquidLayers.draw()`; the second parameter is not delta time, it is the parent alpha transparency of anything containing the SquidLayers, which is almost always supposed to be `1f`. If you called it with del

[2017-07-24 18:04] hawk66 commented on #177
What I can say with the latest commit is that now dispose() seems not be called anymore.

I did some tests and one time I got this
`	at com.badlogic.gdx.graphics.g2d.BitmapFontCache.addGlyph(BitmapFontCache.java:389)
	at com.badlogic.gdx.graphics.g2d.BitmapFontCache.addToCache(BitmapFontCache.java:380)
	at com.badlogic.gdx.graphics.g2d.BitmapFontCache.addText(BitmapFontCache.java:512)
	at com.badl

[2017-07-24 18:21] gotoss08 commented on #178
Oops, that was my mistake. The code i attached to last comment, was simply example code. In my real code, i of course clearing screen, and i am not passing delta time to second parameter of SquidLayers.draw(). That was mistake. And of course, i am extending Game class, and implementing Screen interface, and etc. I am doing all right, because i am familiar with SquidLib and LibGDX, and this is not

[2017-07-24 18:41] tommyettinger commented on #178
OK, I wasn't sure what the code was like that had the bug where it was found, thanks for catching me up. I'm guessing this is being run on a desktop platform, probably not LWJGL3 but maybe, though I'm not sure what OS it is (which may matter for replicating if there's some different window foreground/background behavior relative to my OS, Windows 7). I did push a commit about 11 hours ago, which c

[2017-07-24 19:24] tommyettinger commented on #177
Is it possible there's some concurrency in your game/application? I'm going over the lines in the stacktrace and the only causes I can see for line 141 of GlyphLayout throwing the Exception it does are related to either some code that's at fault in libGDX or some code concurrently modifying (maybe indirectly) the Pool of GlyphLayout.GlyphRun objects used in GlyphLayout. The code I have for the rel

[2017-07-24 19:27] tommyettinger commented on #177
Oh, and also: what OS are you running this on, and if it applies, what version of OS and/or desktop/windowing toolkit if you use one? I'm wondering if I may have trouble reproducing the issue because foreground and background windows aren't treated the same on my OS, Windows 7, relative to yours.

[2017-07-24 20:58] gotoss08 commented on #178
I am on windows 10.
Here is my test project source code.
[DesktopLauncher.java](https://hastebin.com/kewogujero.java)
[Project1.java](https://hastebin.com/ojajuduvob.java)
[PlayScreen.java](https://hastebin.com/urocojudaf.java)
And [here](http://i.imgur.com/LjYzQsB.gifv) is gif of how it works.

[2017-07-24 22:12] tommyettinger commented on #178
I'm not sure what is causing the problem, and it seems to work without issues here; [here's a similar screen recording of two windows](http://i.imgur.com/zhF1bHF.gifv). I'm on Windows 7 and it might be tricky for me to test this on Windows 10, though it should be possible. I wonder if the build of Java I use, [Zulu OpenJDK 8](http://zulu.org/download/), has some bugfix that applies here but not to

[2017-07-24 23:00] gotoss08 commented on #178
I tested the application with Zulu but the error remained

[2017-07-24 23:29] gotoss08 commented on #178
I tested the application on Ubuntu 17.04 and oddly enough the error has not gone anywhere.

[2017-07-25 18:31] hawk66 commented on #177
I'm working on Windows 10 but could also test it on Ubuntu.

I do use concurrency but not in the UI layer and I use for that the akka framework, which program model ensures that you do not have the usual Thread 'pifalls'. And Scala has its own special custom concurrency collections, so the standard ones do not expect that a collection is thread-safe.

tried markupEnabled but this does not help eit

[2017-07-25 21:18] tommyettinger commented on #177
Hmm. Calling `DefaultResources.getStretchableSquareFont()` will return a copy of the cached TextCellFactory, which has in the past helped avoid issues where size changes to a shared TextCellFactory affected all text with that font, even when unintended. It's still absolutely possible and sometimes desirable to share a reference to a TextCellFactory, but it won't be done automatically by DefaultRes

[2017-07-26 17:34] hawk66 commented on #177
seen the issue
* (almost) never if I restart the IDE and start my game from scratch
* often when I do a hot redeployment of code (that is JVM is running and IntelliJ updates my codebase)
* sometimes after the first couple of seconds if my app is started

So, GlyphLayout
`public class GlyphLayout implements **Poolable** {
	**public final Array<GlyphRun> runs = new Array();**
`

So the 'runs' seem g

[2017-07-26 19:57] tommyettinger commented on #177
I haven't really used hot redeployment of code, mostly because I'm used to working without it, but it does seem like hot-swapping logic parts of a game shouldn't affect the internals of BitmapFont and GlyphLayout. Hot-swapping a TextCellFactory might, though, if parts are shared with things being drawn at that time. If the screen has not changed it still should usually draw because the screen is u

[2017-07-26 20:29] tommyettinger commented on #177
I finally got the Scala debugger to work, and the place where your code is getting the ArrayIndexOutOfBoundsException is very strange.

[code]

It should only have a value for `pageVertices[page]`, and thus `vertices.length`, of 20 when it is drawing one char at a time, so since the Exception has an index of 60 being used in what is probably an array with length 20 or possibly 40, that explains pa

[2017-07-27 18:37] hawk66 commented on #177
so, checked it and unfortunately it occurs also outside the IDE.

My render function is pretty simple
` import com.badlogic.gdx.Gdx
    import com.badlogic.gdx.graphics.GL20
    Gdx.gl.glClearColor(0, 0, 0, 1)
    Gdx.gl.glClear(GL20.GL_COLOR_BUFFER_BIT)

    stage.act()

    stage.draw()`

Not sure if you meant this...

there isn't probably a easy method to prevent pooling, that is to force libgd

[2017-07-27 20:12] SquidPony opened #179 "SquidMouse.java has unclear documentation (or implementation maybe?)"
[code]

I _think_ the offsets are actually in screen pixels and not grid cells, but I'm not sure.

If it is in grid cells then are those sized by the input size? If so then a user would have to do some math to figure out the correct offset to send in when they have panels with different size cells working in the same game.

Additionally the doc says "the offsets from the bottom and left edges" but

[2017-07-27 21:25] tommyettinger commented on #179
Offsets are in screen pixels, docs are wrong. I'm pretty sure the offsets are applied from bottom and left due to unfortunate weirdness with scene2d.ui and viewports. Will fix the docs re: pixel measurement.

[2017-07-27 21:34] tommyettinger commented on #177
Hm, that looks fine. It looks like a any calls to `SquidLayers.put()` are happening in other code, but that shouldn't be a problem unless those calls are somehow happening in another thread while `render()` is in the middle of running. I may post a libGDX issue if I can figure out what causes this -- if your project is open source, can you link to any code that might show the problem, or if it isn

[2017-07-27 21:52] #179 closed

[2017-07-28 13:05] gotoss08 commented on #178
I do not know what happened but now everything is working again.

[2017-07-28 17:06] hawk66 commented on #177
Since I've used the adapter pattern and not used Squidlib directly, it was pretty easy to implement a very simple implemention of an AsciiPanel by myself.

And I run into the same issue :(. So my issue is related to libgdx directly.

I've put all my render (put methods) code directly into the libgdx render method, so there is no chance that
a seperate thread makes trouble. I guess I ask the libgdx

[2017-07-28 17:30] hawk66 commented on #177
-> http://www.badlogicgames.com/forum/viewtopic.php?f=11&t=26715

[2017-07-28 21:25] tommyettinger commented on #178
I think it's possible that the issue was fixed at some point in the wave of commits relating to DefaultResources and the disposal of BitmapFonts, but due to a frequent issue in IDE-to-Gradle integration that has affected me several times, your dependency on SquidLib may have not been updated in the IDE even though your Gradle config was correct and telling it to update. This hasn't happened to me

[2017-07-28 21:25] #178 closed

[2017-07-28 21:31] tommyettinger commented on #177
Yeah, this is a bizarre issue... I'll comment on the forum if I find any further information. I guess I should close this since it isn't an issue with SquidLib (since it happens with just a custom AsciiPanel without any Squid involved), but I'll wait to see if my code can be updated with a workaround for any possible libGDX bugs. This may have already been fixed in a nightly version of libGDX, and

[2017-07-30 09:04] hawk66 commented on #177
so, as described @badlogic forum the stuff runs with my own implementation...unfortunately still not with SquidPony :(...

I guess we close the issue now..I guess it's related to my app/Scala somehow

[2017-07-31 01:11] tommyettinger commented on #177
Hm, if it works with your own implementation then maybe I can try to incorporate the same working techniques into SquidLib. I'll check the forum.

[2017-07-31 07:23] SquidPony opened #180 "SquidPnael summon() has weird bounce-back effect"
'''
// fx is a third panel in a SquidLayers that was added to do visual overlay effects
// x and y are the starting coordinate, and c is the character passed in to fade in
float timing = rng.nextFloat() / 2;
fx.summon(timing, x, y, x, y, c, SColor.TRANSPARENT, color, false, 0, 0, 0.5f);
'''

causes a random delay before fading in the character as expected but after animating the character reappear

[2017-07-31 07:46] tommyettinger commented on #180
I haven't really done much with the delay code; that was something smelc needed for his game and not all of the effects may have actually been used in Dungeon Mercenary, so the delays may not work all in the same way. I was implementing a similar method for use in SparseLayers (the newer, faster, experimental, incomplete way to show only the chars that you want to and not render invisible stuff),

[2017-07-31 17:57] hawk66 commented on #177
No, I've used squidpony.squidmath.OrderedMap.

Although to my embarrassment , after done additional tests, I've to announce the error showed up again. (without SquidPony).
So, I close the issue...SquidPony is still very helpful for non-UI stuff for me, for the UI itself I probably swap libgdx by JavaFx.

[2017-07-31 17:57] #177 closed

[2017-07-31 19:49] tommyettinger commented on #180
The ghost-char problem with SquidPanel.summon() should be fixed now, but I have yet to check the exact behavior of SquidPanel.slide(). If slide() isn't causing any problems, I'd prefer to leave it as-is; a lot of stuff could break if slide() changes its behavior in some serious way. I'll close this now; you can reopen if the slide stuff is a problem.

[2017-07-31 19:49] #180 closed

[2017-07-31 20:01] tommyettinger commented on #177
Fair enough. I wonder what the issue is though... If your game/application gets open sourced at some point, at least the libgdx version that had the issues, maybe I could go through it and post an issue on libGDX, since this seems like a genuine bug in their code regarding pools and bitmap fonts.

[2017-08-01 14:27] SquidPony opened #181 "K2 casting warning in coppy constructor"
There's a warning regarding incompatible types for
[code]

which goes away with
[code]

Because I haven't been inside K2 I'm not sure if this has side effects, so leaving it here as an issue since it also doesn't seem to stop compilation.

[2017-08-01 17:48] hawk66 commented on #177
yes, I'll do...I'm occupied with a side project currently, but will check if it is feasible to create an example for the issue...thx for your offer

[2017-08-02 05:21] tommyettinger commented on #181
This looks like a NetBeans thing; I see no such warning in IDEA. I'll try with `mvn` at the command line.

[2017-08-02 05:30] tommyettinger commented on #181
I did the command-line build. There's a bunch of javadoc warnings and some notes in one test (that I don't want to modify heavily because it's from OpenJDK, used to test compatibility between OrderedSet and LinkedHahSet). These info/warning things won't go away because the test may rely on them to be accurate:

[code]

Beyond those, the command-line build shows no warnings on code compilation. It

[2017-08-02 05:30] #181 closed

[2017-08-02 14:21] SquidPony commented on #181
Okay, thanks for checking this out

[2017-08-12 17:58] SquidPony opened #182 "CW and DB colors missing @ colorization in javadoc"
The @ symbol in the middle three blocks should be the color of the Color

Example where it's the Color
[code]

Example where it's black instead:
[code]

[2017-08-13 04:54] tommyettinger commented on #182
On it! I have a test that generates the documented color code, it probably just needs to be updated.

[2017-08-13 06:10] #182 closed

[2017-08-13 06:14] tommyettinger commented on #182
Old RED_BEAN color:

[code]

New RED_BEAN color:

[code]

A bit more useful information, right?

[2017-08-13 06:19] SquidPony commented on #182
nice!

[2017-10-20 14:01] Rakaneth commented on #16
I am trying to use a `SquidMessageBox` to display an `IColoredString.Impl`. Regular strings will display, but `IColoredString.Impl` does not.

[2017-10-20 15:59] smelc commented on #16
@Rakaneth > cool screenshot :-) @tommyettinger will be able to help you as he coded `SquidMessageBox`.

[2017-10-20 18:14] Rakaneth commented on #16
@smelc I did try replacing this with a TextPanel, which does properly display the color string; however, now I have a problem that new text added to the panel after initialization isn't getting addes.

[2017-10-20 19:18] tommyettinger commented on #16
I'll take a look at the code and try writing or improving a demo to test this better than the current tests do. It seems like I missed something in the demos.

Also, Wolf's Den is a great name.

[2017-10-20 19:43] smelc commented on #16
@Rakaneth > Indeed TextPanel is designed for displaying text that is known at initialization time. It'll never update its text afterwards. You should try LinesPanel if you wanna draw using libgdx's Bitmap font directly, it's the gdx-direct alternative to SquidMessageBox.

[2017-10-20 22:12] tommyettinger commented on #16
The first issue mentioned should be fixed as of the latest commit; some of the SquidMessageBox code updated the List of IColoredStrings when a String was appended, but didn't update that List when an IColoredString was added. SquidMessageBox should work now. As smelc said, LinesPanel should fit your needs; it can also handle non-fixed-width fonts (several are in DefaultResources; I like `DefaultRe

[2017-10-21 05:09] Rakaneth commented on #16
Thanks for the update! I did wire up a `LinesPanel` and it suits my needs for the moment. I will check out the `SquidMessageBox` fix as soon as I get some free time (currently at a LARP right now!) I like the auto-scrolling and box-character bordering of `SquidMessageBox`, something I miss in `LinesPanel.`

On a separate note, I did try to throw together another implementation of `IMarkup` to hand

[2017-10-21 07:38] tommyettinger commented on #16
It's possible for `SColor` objects (there's a huge amount of predefined `SColor` objects as constants in that class), but `Color` is in libGDX, and we can't directly change `Color`. `SColor` extends libGDX's `Color` class, only adding a name field. While it's trivial to get a String name from an `SColor` (you can just get its `name` field, which is read-only, or call `getName()` on it), `Color` ob

[2017-10-21 18:59] Rakaneth commented on #16
I had a moment to play with this.

Did the default dungeon palette get changed? (Related question: can I generate my own palettes for these things?)

![image](https://user-images.githubusercontent.com/19420583/31855024-5169f102-b670-11e7-86f5-b9ca6554b81c.png)

[2017-10-22 03:20] tommyettinger commented on #16
Woah... it shouldn't have changed to that, if it changed at all since you last used it. `DungeonUtility` in the `squidlib-util` module has some older version of the palette setting I think, and the current version is in `MapUtility` in the `squidlib` module. The latest change only affected water colors and the animation for grass, water, and "lake" contents (if a map has them), 21 days ago, and wa

[2017-10-23 00:06] Rakaneth commented on #16
I got it figured out. I used `SquidLayers.put(x, y, c, fgIndex, bgIndex, lightness)` which I think was replaced with `SquidLayers.put(x, y, c, encodedForeground, encodedBackground, lightness)` in a recent version. I reached directly into `SColor.LIMITED_PALETTE` to get the old colors, then used `SquidLayers.put(x, y, c, fgColor, bgColor, lightness)`

[2017-10-23 15:29] Rakaneth commented on #16
Now, I have a different issue. I've gone back to `SquidMessageBox`, but `SquidMessageBox` doesn't take markup. I'm trying to find a way to get `SquidMessageBox` to understand an `IMarkup`, I think I need to extend SquidMessageBox and add an IMarkup to the constructor and as a field, but I don't know how to link the two together.

[2017-10-23 22:17] tommyettinger commented on #16
What are you trying to do with the markup? Is this your custom implementation that uses names of colors? I'm not totally sure how all of the code involved fits together, but libGDX can be configured to treat a String like `"Very [RED]HOT[] Spices"` as the text `"Very HOT Spices"` with the middle word colored red, as long as that whole String is given as one item for BitmapFont to draw. A possible

[2017-10-23 22:40] Rakaneth commented on #16
Right now, I just want to be able to send marked-up strings to a `SquidMessageBox.` I prefer `SquidMessageBox` for displaying player messages because it scrolls and remembers messages. I also prefer its aesthetic.

[2017-10-25 02:47] tommyettinger commented on #16
@Rakaneth , I liked your idea to parse markup in a straightforward way with regexes, so I implemented it in the last commit, 467ff8c . It uses the RegExodus library (which SquidLib already depends on) instead of `java.util.regex`, for GWT compatibility. Currently you can generate colorful text
like at the bottom of this screenshot, https://i.imgur.com/CBsLzdL.png ,
using code like this:
[code]
If

[2017-10-25 22:35] Rakaneth commented on #16
Glorious colored `SquidMessageBox` strings!

![image](https://user-images.githubusercontent.com/19420583/32026657-3d33e404-b9b3-11e7-8195-2ef7cd567f60.png)

[2017-10-26 06:39] tommyettinger commented on #16
That looks great! I can see advantages for lots of games using this, like NetHack (with many colors of dragon) could differentiate which enemy did which action by coloring the name of the enemy to match their color in the game map. That could be like "The [Red]Dragon[] breathes fire at you!" Somewhat off-topic, but what do "Dmg 2k2" and "Atk 2k1" mean in your screenshot?

[2017-10-26 14:08] Rakaneth commented on #16
The "XkY" notation means to roll X dice and keep the highest Y (something I got from the 7th Sea tabletop RPG). In this case, the dice are d6s.

An attacker rolls his Atk value, trying to meet or exceed his opponent's Def value. If so, he rolls his Dmg value to determine how much raw damage is dealt, and this is increased by a high Attack roll and reduced by armor and magical protection(values not

[2017-10-27 03:16] tommyettinger commented on #16
Ah, glad Dice is proving useful! I just started adding a few features to its dice notation parsing a few days ago, and since you mentioned it, today I went back and added support in the notation for `roll(String)` for best-of exploding dice, as well as ranges with random upper bounds (allowing, effectively, dice with a random number of sides). That's in commit dbc2c9d , the latest one. I'm also wo

[2017-10-27 08:04] smelc commented on #16
@tommyettinger > I suppose bold and italic require providing additional bitmap fonts ?

[2017-10-28 03:36] tommyettinger commented on #16
@smelc , sort of. The way I have them implemented in TextFamily (a subclass of TextCellFactory that delegates most of its work to its parent), these multi-part fonts load normal, bold, italic, and bold italic fonts from an atlas (which can hold more textures, if needed). A small addition to TextCellFactory, the `setStyle()` method, does nothing when called in TextCellFactory but changes the style

[2017-11-03 13:59] Rakaneth opened #186 "setPosition on SquidPanel?"
I am not sure if I'm doing this incorrectly or if something is wrong, but `SquidPanel.setPosition()` does not seem to be placing the `SquidPanel` in the correct position.

		display.setBounds(0, msgHeight * cellHeight, gridWidth * cellWidth, gridHeight * cellHeight);
		msgs.setBounds(0, 0, msgWidth * cellWidth, msgHeight * cellHeight);
		statPanel = new SquidPanel(statWidth, statHeight, tcf.copy()

[2017-11-03 21:32] tommyettinger commented on #186
I'll look into this; it looks like either a bug in SquidLib or one of the many quirks involved with using libGDX's scene2d.ui components. I think the code you supplied should be enough to figure this out, thanks.

[2017-11-04 00:01] #186 closed

[2017-11-04 00:03] tommyettinger commented on #186
This should be fixed now; running the new PositionTest (based on your code to replicate the issue), I get a screen that looks like
![java_2017-11-03_14-57-39](https://user-images.githubusercontent.com/160684/32400043-d65ca3e4-c0b8-11e7-9d43-663bb5081e75.png).

[2017-11-04 00:06] tommyettinger commented on #186
Also, you should clear the screen if you don't already at the start of render(). Without that, the alpha-blended curves on text overlap many times, and look extremely thick and bold. This looks like:
![java_2017-11-03_17-05-27](https://user-images.githubusercontent.com/160684/32400106-46e6d0da-c0b9-11e7-8f77-804a90bc1347.png).

[2017-11-07 15:40] Rakaneth opened #187 "LinesPanel does not appear to be respecting TextFamilies"
While playing with my main screen layout, I was experimenting with LinesPanel and style markups when I came across this:

    public static void addMessageLP(String template, Object...args)
    {
		String rawText = String.format(template, args);
		IColoredString<Color> toWrite = GDXMarkup.instance.colorString(rawText);
		lp.addFirst(toWrite);
    }

    TextFamily slab = DefaultResources.getSlabFa

[2017-11-07 23:33] tommyettinger commented on #187
There are probably more than a few places in SquidLib that use BitmapFonts directly, without using the TextCellFactory.draw() method that TextFamily overrides to add the italic/bold behavior. I'll see if there's a good fix for this in LinesPanel.

[2017-11-08 03:12] tommyettinger commented on #187
I think I figured out a better way to handle the assets for TextFamily, and it might even work with a normal TextCellFactory, which would be nice. I need to try some things, but if this works it would mean using a different asset than what is currently used for the four versions of a TextFamily font (it may be a slightly smaller download size, too). I'll get to work... This might be a little rough

[2017-11-08 08:08] tommyettinger commented on #177
So I should have posted on this issue when I found out about a possible cause, but WickedShell from the libgdx IRC channel on Freenode had a remarkably similar bug using Clojure, where he had issues with graphics code for fonts sometimes not running on the main thread. He solved it by cloning libGDX, adding debug information all over the possible problem spots, and using the debug info to find whe

[2017-11-08 08:14] #187 closed

[2017-11-09 06:43] tommyettinger commented on #187
I closed this in a commit, but it should also be mentioned here: this should be fixed now, but the two default TextFamily assets are different now (effectively, they're 4 fonts merged into one). I will update SquidSetup at some point to carry the new assets, probably after I add some more for good measure. The files needed to use the "Slab" family are (these are links directly to files): https://r

[2017-11-09 21:58] Rakaneth opened #188 "[Proposal] add SquidMessageBox internal border method to SquidPanel and subclasses"
I happen to really like the border effect of SquidMessageBox, and I've written a utility method that does the same thing for SquidPanels.

Is this something we want to add to SquidPanel, or even things like SparseLayers?

![image](https://user-images.githubusercontent.com/19420583/32631734-1a799720-c56f-11e7-937b-e3c0ab109c6a.png)

The bottom left panel is an actual SquidMessageBox; the bottom rig

[2017-11-10 07:20] tommyettinger commented on #188
That looks really good, and the border definitely helps visually separate your different UI areas. I think having a border would be good for a lot of things, but the question then is if it should write over the existing contents of a SquidPanel, or if it should expand its size in some way. If a border was added to the map area in your screenshot, then it would write the line over the light brown w

[2017-11-10 15:42] Rakaneth commented on #188
Currently, the bordering method of SquidMessageBox (which is what I based my code on) is a private method in that class. Could it be as simple as pulling that method up to SquidPanel and making it public, so that it can be called at whim, and leave the automatic bordering in SquidMessageBox?

[2017-11-10 22:22] tommyettinger commented on #188
Sure, good idea. I'll try it now.

[2017-11-11 04:23] tommyettinger commented on #188
This is implemented now; thanks again for the tip on the code I had forgotten about. The version in SquidPanel allows a color to be specified for the border, and currently places chars directly into that SquidPanel instead of allocating a 2D char array, but no longer affects the cells in the interior of the panel. In SquidMessageBox, these are filled instead by `ArrayTools.fill(char[][], char, int

[2017-11-11 04:23] #188 closed

[2017-11-13 14:34] Rakaneth commented on #188
One thing that I forgot mention is that, shortly after I wrote my utility method, I improved it to take a string caption that would be written at (1, 0).

![image](https://user-images.githubusercontent.com/19420583/32730651-c8a196fc-c855-11e7-9916-a1212e3fead6.png)

I'll update to the latest version and perhaps try my hand at forking to include the caption.

[2017-11-21 22:58] Rakaneth opened #190 "Exploding dice notation in bestOf() does not alter the state of the RNG when "1" is omitted"
The dice notation accepted by the Dice module states that "!6" is a synonym for "1!6", but if I use this shortcut, the state of the RNG does not change:
![image](https://user-images.githubusercontent.com/19420583/33101180-389cd4ae-cee5-11e7-9509-c1cd2097c871.png)
When I change the code to "1!6" instead, the RNG behaves normally:
![image](https://user-images.githubusercontent.com/19420583/33101229-

[2017-11-22 02:25] tommyettinger commented on #190
Hm, this may be a mistake I made in the parser. It looks like that's considering only the `6`, and ignoring the preceding `!`. I'll get right on this, should be a quick fix.

[2017-11-22 02:55] #190 closed

[2017-11-22 02:57] tommyettinger commented on #190
Should be fixed now. I thought it was a one-char change by making the initial digit optional... but that made the whole dice notation optional, which had some effects on spaces I think. So that needed some small tweaking as well. Now there's more tests to try to detect this kind of thing.

[2017-11-22 03:30] tommyettinger commented on #190
Also, I see some room-like shapes with right angles in your screenshots -- if you're going for a cave theme for some or all levels, maybe consider FlowingCaveGenerator to generate map layout; it starts with a mix of cave-like and room-like shapes (like in your screenshot) and smooths all the edges, imitating erosion by groundwater in caves. It would be pretty awesome to have some level or group of

[2017-11-22 15:58] Rakaneth opened #191 "[Proposal] add stair generators, decorators to DungeonUtility"
I use `DungeonGenerator` with varied `TilesetType`s for all of my dungeon-generating needs because, through that implementation, I get `addWater()`, `addDoors()`, `addTraps()`, and stairs. I would like to try other implementations of `IDungeonGenerator`, but they lack these (in my opinion) basic dungeon utilities, Adding them to `DungeonUtility` would give all the generators access to them.

[2017-11-22 16:16] Rakaneth commented on #190
The plan here is to have the player visit a series of regions ravaged by a group of militant beings called the Wolflords. As such, there will be all kinds of terrain and dungeon types.

[2017-11-23 07:22] tommyettinger commented on #191
IDungeonGenerator only guarantees two methods in implementing classes, generate(), which returns a 2D char array, and getDungeon(), which gets the last generated 2D char array. Because DungeonGenerator can take either no arguments to its (different) generate() method, a TilesetType argument, or a 2D char array argument, it can use predefined types of dungeon with the first two, or the output of an

[2017-11-23 07:22] #191 closed

[2017-12-13 16:21] Rakaneth opened #193 "FOVCache seems to fail on small maps"
There seems to be a minimum map size that FOVCache expects; it fails to cache FOV for a 30x30 map but succeeds for 31x31 with no issue. The error happens in FOVCache.java at line 1186.

[2017-12-13 20:59] tommyettinger commented on #193
I've been meaning to re-investigate whether FOVCache actually can improve FOV calculation time. Last I checked, I was discouraged by how much time it takes to precalculate all FOV, even on level entry, compared to just running it as-needed when creatures move. In particular, methods were added to the FOV class that calculate field of vision and assign the result into an existing 2D array, which he

[2017-12-13 21:13] tommyettinger commented on #193
This seems to be related to the maxRadius of an FOVCache being too high for the size of the map; I can reproduce this when the size is 30x30 and the maxRadius is 15, but not when maxRadius is 14 or less on the same map. I think there may be some code that refuses to make 31 rows or columns for a 30x30 map, since the 31st row wouldn't refer to anything in the original map. Another possibility is th

[2017-12-14 00:42] Rakaneth commented on #193
That actually coincides with my findings - I have maxRadius and maxLOS set to 15 because that is the highest vision stat any singular character has in the current iteration of my game.

[2017-12-14 00:45] Rakaneth commented on #193
I actually decided to try an FOVCache per map instead of an FOV per creature as proof against a large number of creatures. I am not sure how much in resources an FOV object takes, but I thought that placing something reusable on the map object would be more efficient.

[2017-12-14 03:23] tommyettinger commented on #193
This bug is fixed in the latest commit, but FOV has gotten faster in the last few years, while retrieving compressed FOV maps from FOVCache has not. Here's the results of a benchmark on 60x60 dungeon maps, getting FOV for every non-wall cell:

[code]

The Score column shows that retrieving FOV maps from FOVCache takes twice as long as calculating them fresh every time. I may just remove FOVCache o

[2017-12-14 03:23] #193 closed

[2017-12-14 03:31] tommyettinger commented on #193
Also, re: FOV resource usage, none if you use the static reuseFOV methods, and not too much if you use the non-static methods. FOVCache uses a LOT, since it stores the compressed light map for every cell on the map, at every vision radius. FOVCache is fine to share between entities though, there's nothing to overwrite with a calculateFOV() result, since it already has calculated all of those for t

[2017-12-14 03:55] tommyettinger commented on #193
There probably was an issue with the last benchmark, but the results still stand testing on a 180x180 map.

[code]

Score is still half the time for FOV.calculateFOV instead of using FOVCache, and probably a lot of this time is in GC that FOV.reuseFOV() could help avoid.

[2018-01-07 07:56] Rakaneth opened #194 "SquidMessageBox oddly trimming spaces during wrapping"
`SquidMessageBox` seems to be exhibiting some odd behavior when wrapping `IColoredString`s - it is eating spaces.

![image](https://user-images.githubusercontent.com/19420583/34647660-efbb446a-f355-11e7-820e-7ce7d16876b9.png)

This does not seem to occur in `SquidPanel` (here I used a manual `IColoredString.wrap()`):
![image](https://user-images.githubusercontent.com/19420583/34647669-4c5b04c6-f35

[2018-01-07 09:47] tommyettinger commented on #194
Weird stuff, hm... I'll take a look as soon as I can; family is visiting Jan 7 (today in most timezones) but I should be able to take a look after they head home. I wonder what's different between the two wrapping implementations...

[2018-01-07 20:16] tommyettinger commented on #194
This is very odd, but I've narrowed down a possible cause. Still working on a fix. It looks like (when using GDXMarkup to generate IColoredString instances) closing a color tag with `[]` before a space (but not after a space) causes wrap() to ignore the space, possibly due to the behavior of `String.split()` with delimiters at the end of input. You can see on the bottom line here, the first space

[2018-01-07 20:42] #194 closed

[2018-01-07 20:44] tommyettinger commented on #194
This should be fixed now. The current TinyTest code that produced the above screenshot before now looks like:
![](https://i.imgur.com/sHXKFHF.png)
The issue did turn out to be `String.split()`; we now use `StringKit.split()`, which has various subtle differences including preserving trailing spaces (at the very least, it does this when they're the only contents of the String being split up).

[2018-01-26 22:30] Rakaneth opened #195 "Technique issues"
Although `Technique` neatly wraps up an `AOE` to make it useable, there are two key pieces of functionality missing:

1) It is nontrivial to check if a `Coord` is in the `Technique`'s range or not (for UI purposes, to share this with the user). Currently, a call to `AreaUtils.verifyReach` must be performed; for this to work properly, `limit` of `Technique.aoe` must be set. I think the implementati

[2018-01-27 07:17] tommyettinger commented on #195
Hm, yeah... I haven't really used Technique much. I do think it has potential to be more actually-useful though, and these are both good things for me to implement. For some reason, I thought Technique stored its min and max range, but that might have been moved into AOE at some point. I'll take a look at ways to simplify the API for part 1. Part 2 should be very quick to fix, and it will probably

[2018-01-28 01:15] tommyettinger commented on #195
Just to be clear, @Rakaneth , do you want a method that returns all `Coord`s within range for a `Technique`, together in some collection? Or would a yes/no check be all that's needed? `AreaUtils.verifyReach()` doesn't check for obstacles; normally a line of sight check (possibly combined with a check of the length for that line) is the main requirement in many roguelikes to use a ranged attack. Sq

[2018-01-28 06:42] #195 closed

[2018-01-29 15:40] Rakaneth opened #196 "AOE is not Serializable"
`AOE` is not `Serializable`, thus causing `Technique` to fail to serialize. (see #195)

[2018-01-30 00:54] tommyettinger commented on #196
I was wondering if this chain of things would need to be made Serializable... working on it now.

[2018-01-30 01:33] #196 closed

[2018-01-30 01:38] tommyettinger commented on #196
I'm only closing this tentatively because I don't know if all the AOE implementations fully work with Serializable. DijkstraMap was already Serializable; I think FOV was too (it is now). The latest commit made AOE and all its implementations Serializable, plus LOS, Spill, and SColor for good measure. I'm not sure if any of those classes use objects of some non-Serializable class, though; it's gett

[2018-01-30 22:47] Rakaneth opened #197 "BurstAOE uses a null resistanceMap to calculate its FOV"
I am not sure why this is, but at the moment, this causes `BurstAOE.apply` to blow up with a `NullPointerException.`

[2018-01-31 06:55] tommyettinger commented on #197
Are you calling `BurstAOE.setMap()` before... whatever method is blowing up? That call should set `resistanceMap` based on the given `char[][]`. Calling setMap() is mentioned throughout the AOE-related docs as a necessary step, but it's possible there's some methods that can be called without needing it, while others will throw exceptions if the map isn't up-to-date. You may have encountered mostl

[2018-01-31 15:17] Rakaneth commented on #197
`setMap()` gets called in the constructor for `WolfSkill` (my `Technique` wrapper).

Here is line 517 in BurstAOE.java:
     return AreaUtils.arrayToHashMap(fov.calculateFOV(null, center.x, center.y, radius, radiusType));

[2018-01-31 20:14] #197 closed

[2018-01-31 20:15] tommyettinger commented on #197
This should be fixed now. I also checked for any other usages of calculateFOV that passed null directly, and I couldn't find any. Thanks for finding this.

[2018-03-03 20:36] SquidPony opened #198 "SquidPanel.tint() doesn't line up with glyphs"
When running a .tint() effect it seems to be a few pixels lower than the original glyph

This might be due to the text cell factory doing resize adjustments that tint doesn't take into account, not sure

[2018-03-03 22:29] tommyettinger commented on #198
Aaaaaagh... This bug has happened before, in SquidLayers. Is this in SquidLayers or SparseLayers? I need to be very careful about how this works because it can be rather difficult to fix, and it affects Dungeon Mercenary if I break something. I'll start investigating...

[2018-03-04 00:18] tommyettinger commented on #198
A potential fix is to use SparseLayers if you only tint the background. I'll try to add foreground tint to SparseLayers next; SparseLayers should be much better about consistent positioning than SquidPanel or SquidLayers.

[2018-03-04 15:15] smelc commented on #198
Indeed a bug of this kind affected me in SquidPanel a while ago.

[2018-03-10 17:29] tommyettinger commented on #198
@smelc , I don't think there's a regression here, though it's possible... rather, the fix as applied may only work for some fonts. There is a good solution for this, I think, and it should be compatible with most if not all of the existing API, but I'm not sure if it will work. I think I can switch out one-char Label Actors for TextCellFactory.Glyph Actors, which use the same layout as normal grid

[2018-03-10 22:50] #198 closed

[2018-03-11 03:11] tommyettinger commented on #198
This appears fixed now, though I need to verify that the fix doesn't break any other effects. Now instead of the Actor-based methods in SquidPanel returning either an Image or a Label, they return a TextCellFactory.Glyph, which draws like normal text does in TextCellFactory (the same as before and after the tint) and can produce a solid block or a single char. Glyph is still an Actor, and some of

[2018-03-29 04:11] tommyettinger commented on #40
This should be possible currently with TextCellFactory.Glyph Actors, which both SquidPanel/SquidLayers and SparseLayers use for animated chars (including chars that move smoothly). I'll add a convenience method to at least one of SquidPanel and/or SparseLayers to promote a char to a Glyph and start a ColorAction on it, since ColorAction is part of LibGDX but isn't especially clear that it's availa

[2018-04-12 20:41] Rakaneth opened #199 "[Question] What is the best way to display images from a spritesheet in SquidLib?"
I have several tilesets I'd like to start experimenting with. What is the best way to use tilesets in .png format with SquidLib?

[2018-04-13 04:32] tommyettinger commented on #199
That's a good question... Personally I haven't used sprites much with squidlib's text-based display, since I prefer using only text or only graphics. I'm guessing you want to mix text-based sections with a tileset. There are ways to add images to a SquidPanel specifically (which also is used by SquidLayers), or to any GUI component by placing an Image Actor wherever you want. You may want to look

[2018-08-25 06:25] o0lwj0o opened #200 "Suggestion : continuous calls of StringBuilder.append"
Hi,
    I have found some continuous calls about StringBuilder.append(..) in some files. For example, there are several continuous calls from line 164 to 178 in the file https://github.com/SquidPony/SquidLib/blob/master/squidlib-util/src/main/java/squidpony/squidmath/RegionMap.java

   while (i-- > 0) {
            short[] key = keyTable[i];
            if (key == null) continue;
            buffe

[2018-08-25 07:16] o0lwj0o opened #201 "Suggestion : Improvement of String.equals("xxx")"
Hi,
    I have found some usage of “String.equals("xxx")” in your project.
    For excmple terms[t].equals(";") ，it will get nullpointexception if terms[t] ==null.
    The problem can be fixed by repalced with   ";".equals(terms[t]) or Objects.equals(terms[t],";").

PS:
https://github.com/SquidPony/SquidLib/blob/master/squidlib-util/src/main/java/squidpony/MonsterGen.java | 109/118/125/133/140

[2018-08-25 18:31] tommyettinger commented on #201
Thanks for reporting! I wrote that MonsterGen class quite a while ago and haven't looked much at it since; I'll try and see if I'm using non-null-safe String equality checks anywhere else as well. This should be a quick fix.

[2018-08-25 18:44] #201 closed

[2018-08-25 19:14] tommyettinger commented on #200
I'm a little curious about this one. Is there some documentation on how a chained series of method calls would reliably improve the performance of StringBuilder? HotSpot tends to be rather good at ignoring paths that don't matter, and I don't think either of us have benchmarked this particular toString() implementation. The majority of the time in RegionMap's toString() code is probably spent on g

[2018-08-26 07:15] tommyettinger commented on #200
OK, I found your earlier issue on another repo that did get some discussion and benchmarking, https://github.com/influxdata/influxdb-java/issues/425 . I'm still wondering what the best technique is here to handle chaining of method calls in general, since SquidLib's GreasedRegion class can often be chain-called and I think often is in practice. I'll make the changes you suggested to improve the ge

[2018-08-26 08:16] #200 closed

[2018-12-08 08:18] tommyettinger commented on #18
This has been handled by Gdx `Preferences` for arbitrary things that can be saved as Strings; `squidlib-extra` wraps this somewhat in SquidStorage, but it's perfectly usable on its own without wrapping. Keybindings in particular now have their own saving system that can be shared between games that use `SquidInput` (plus a utility to remap the keys with a simple UI). In practice, the text compress

[2018-12-08 08:18] #18 closed

[2018-12-28 03:30] nateroe opened #202 "ArrayIndexOutOfBoundsException in GreasedRegion during DungeonBoneGen.generate(...)"
Generating a small dungeon
[code]

Always throws this exception:
[code]

[2018-12-28 04:03] tommyettinger commented on #202
I can reproduce this with small height and width, and there's an issue reproduction test in https://github.com/SquidPony/SquidLib/blob/master/squidlib-util/src/test/java/squidpony/issues/Issue202.java . I believe this is fixed as of the latest commit, `2ff1896877`. The bug was related to very small map widths, and GreasedRegion inconsistently using the width of a tile when it should have used the

[2018-12-28 04:03] #202 closed

[2019-01-12 15:16] olberg opened #203 "SparseLayers.draw doesn't reset batch.shader"
It seems that SparseLayers's draw-method sets a shader and doesn't reset it. I had to manually set it to null, before I could draw anything correctly with the SpriteBatch.

[2019-01-12 23:51] Larkenx opened #204 "Documentation links don't work on README"

[2019-01-13 06:17] tommyettinger commented on #203
When you use a distance field font (including MSDF), SquidLib needs the shader set to the correct one for that font. Most of the time, text-based games that would benefit from distance field fonts don't need to change from this shader, and there's a performance hit for changing the shader when it isn't needed. If you're using a non-distance-field font, there shouldn't be any change to the shader,

[2019-01-13 06:17] #203 closed

[2019-03-15 15:52] gioadami opened #206 "DividedMazeGenerator.create throws java.lang.UnsupportedOperationException"
Invoking the following code (for S > 4)

`		DividedMazeGenerator mg = new DividedMazeGenerator(S, S);`
`		boolean map4[][] = mg.create();`

generates the following stack trace:

	at java.base/java.util.Iterator.remove(Iterator.java:102)
	at java.base/java.util.AbstractCollection.remove(AbstractCollection.java:299)
	at squidpony.squidgrid.mapping.DividedMazeGenerator.process(DividedMazeGenerator.ja

[2019-03-16 06:03] tommyettinger commented on #206
I'll take a look; I didn't write DividedMazeGenerator (or if I did, it was years ago), but this should be easy enough to fix. I may regret saying that...

[2019-03-16 21:02] tommyettinger commented on #206
This has been fixed since April 5, 2018; my recommendation is to use JitPack to get the latest (or any recent) commit. You could just copy the relevant gradle configuration from a recently-updated SquidLib-Demos project, or from Epigon (links to both are in SquidLib's readme near the top). If you use Maven, you could copy working pom.xml dependencies from my tommyettinger/WarpWriter repo.

I haven

[2019-03-16 21:02] #206 closed

[2019-03-16 21:05] tommyettinger commented on #206
The cause, for anyone interested, was that a List was made with `Arrays.asList()` and that doesn't support `remove()`. My solution  is to avoid having a ton of List implementations around and to use `Maker.makeList()` to build an ArrayList directly, which does support deletion.

[2019-03-25 15:22] rabbitfr opened #207 "[FEATURE] Map generation with barriers and calls to tunnelers"
Hi,

It would be really nice to be able to populate a dungeon map before generation to add
these 2 features :

* Barriers to prevent pathways from linking areas on either side of them
* Mark some cells for a tunneler to start digging its way to link up with the rest of the map (when its generation proper begins)

These two features will allow prefabs integration as described in

https://www.gridsa

[2019-03-26 23:52] tommyettinger commented on #207
These sound good, but I don't understand the second request. By, "Mark some cells for a tunneler to start digging its way to link up with the rest of the map (when its generation proper begins)" do you mean start and end cells for things like `MixedGenerator.putBoxRoomCarvers()`? Or do you mean connecting two separate dungeon maps, making them some kind of sub-regions of a larger map?

It might he

[2019-03-27 14:54] rabbitfr commented on #207
Hi @tommyettinger,

For the second request I mean sthg like adding a prefab in an empty map

[code]
where `+` needs to be connected to the rest of the map.

The idea of `connecting two separate dungeon maps` is also really nice :) by adding `+` at a map border.

For the implementation I was thinking of a character convention where :

[code]

[2019-03-28 09:30] tommyettinger commented on #207
So the connection thing, does a `+` act like the endpoint of a carver? (I'd also suggest using `&` to mean attaching this room **and** this dungeon together, since `+` is used for closed doors currently). Does a `+` or `&` have to attach to a walkable cell, or to some stricter requirement?

I'm also not totally sure where barriers should be placed and if it's OK for "piercing" corridors like those

[2019-03-28 13:59] rabbitfr commented on #207
Hi,

It's on purpose I used `+` to mean "carve to this door to make it accessible from the map but keep the door in place"

[code]

The '&' may be used to mean "carve to this position to make it accessible from the map and clear blocks"

[code]

I think that "attach to a walkable cell" is the only requirement.

Another sign may be used to mean "you may carve throught these but it's not guaranted"

[2019-05-07 03:55] tommyettinger commented on #207
Oh my god. I JUST noticed that there is an incredibly faint **dark** gray outline around the round shapes; you really need to get your monitor looked at, @rabbitfr if that outline looks like "light grey" (This is what SquidLib calls [Light Gray](https://i.imgur.com/Z4XbQWq.png)). I knew I was missing something looking at those images, but I couldn't tell what. I think that outline around the round

[2019-05-07 07:42] rabbitfr commented on #207
Sorry ! That screenshot is not from me and the first time I didn't get the 'gray' lines too :)

![Selection_160](https://user-images.githubusercontent.com/452971/57281976-643e4880-70ac-11e9-8503-6eee9471ee5f.png)

[2019-05-07 19:28] tommyettinger commented on #207
I saw the lines, but there's more of that same color around the other prefabs (the two almost-circles have almost-black and actual-black around their edge). Getting the rooms to line up along straight edges for the corridors will be challenging; is that something you want or just a feature of these examples?

[2019-05-09 13:20] rabbitfr commented on #207
1.

for the color around the two prefabs see my comment on Mar 28 about "Another sign may be used to mean "you may carve throught these but it's not guaranted""

2.

the 2nd feature "Barriers to prevent pathways from linking areas on either side of them" is a requirement to
allow cyclic generation as described earlier.

[2019-07-25 01:30] madmenyo opened #208 "DenseRoomMapGenerator has unconnected areas"
I generated a view maps with the DenseRoomMapGenerator.Java and it always leaves some unconnected areas. Your link to the output in the comments has everything connected.

Reproduce:

I have yet to find a seed that connects every section.

[code]

throw it in here to see results, but I bet you have other ways :).

[code]

Version: 3.0.0-b10'

[2019-07-25 02:29] tommyettinger commented on #208
Sounds about right; DungeonGenerator (or SectionDungeonGenerator) is the class that blocks out disconnected areas. You can feed the `char[][]` to DungeonGenerator and it will find the largest walk-able area and wall off any areas that aren't connected to it. DungeonGenerator can also add doors, grass, and boulders, and splash water around.

You can also use `DungeonUtility.debugPrint(char[][])` to

[2019-07-25 02:29] #208 closed

[2021-11-22 09:04] aus101 opened #209 "[Discussion] Expansion of Distributions and IDistribution Interface"
- I'd really like to see (discrete) **Poisson and Binomial distributions** due their ubiquity in probability. The cumulative distribution of Poisson can be expressed in terms of the (continuous) **Gamma distribution**. Would imply adding fast factorial, log and exp(-x) calls. Poisson distribution is easy with lambda <= 20 for indexing a factorial that can be stored as a long. Poisson time between

[2021-11-22 10:42] tommyettinger commented on #209
Out of order responses...

RE: point 2, I've started on coding a tiny little bit of this in a different project that needs point 2 for compatibility, and it is not easy because I really lack the fundamental background on some of this. However, that project, [ShaiRandom](https://github.com/tommyettinger/ShaiRandom), thankfully can pull much of this information (and implementations in C#) from [Tros

[2021-11-23 05:25] aus101 commented on #209
So you do C# as well. I'm jealous of Visual Studio compared the free buggy messes Java has in comparison.

I think it's fine to port stat code you may not understand the mechanics of. You have visualization aid and distributions are easy to check against in Excel or Google Sheets or whatever. The design of Troschuetz is really clever and that's genius defining Student's t-distribution pdf as a com

[2021-11-23 05:52] aus101 commented on #209
Thank you for the detailed explanation and elaborating on every point! I wanted to make separate comment on **Binomial distribution**. Maybe I can explain it. Is that what comments are for? I'm new here. Coding in my spare time is foreign concept.

You know what, people tell me I'm smart and your atan range reduction went right over my mind. I didn't understand the Binomial Wikipedia explanation w

[2021-11-24 02:15] tommyettinger commented on #209
Wow, that helps quite a bit re: binomial distribution. I think the part I didn't pick up on initially was that the distribution has more variables (parameters?) than I thought it would. That would explain the lack of clear 2D graphs I could find. I think I understand this well enough to try porting Troschuetz.Random's binomial distribution now.

Also, I realized I can have an IDistributionDetailed

[2021-11-27 10:19] aus101 commented on #209
Sounds good to me. The mean, variance, etc. are all fixed when the distribution gets created with the required parameters so can be calculated then and there.

I added the mean and standard deviation to GaussianDistribution but GitHub is blocking me from publishing to make a pull request due to no write access. I'm not a cryptocurrency miner I swear.

I'm not sure how to construct the proper IRNG

[2021-11-27 22:52] tommyettinger commented on #209
To make a pull request you need a fork, and can submit the PR from there. I believe it isn't especially complicated to fork on GitHub, clone your fork, and then copy your changes into the cloned code. You could then push that and handle the PR from the web interface (there's also a GitHub CLI to handle forks, PRs, repo creation, etc. without a browser, but I haven't used it).

sin_() and cos_() ta

[2021-11-28 07:12] aus101 commented on #209
Thank you, wasn't as hard as I thought to make a pull request. I guess that's the point of GitHub really. It shouldn't be hard.

Cool so sin_() and cos_() work the way I expected. That is better to imbed the 2PI for engineering calculations such as transfer functions and you're saying it improves the range reduction as well.

Thanks for explaining IRNG. Would be nice to make the distribution easie

[2021-11-30 04:07] tommyettinger commented on #209
Glad the PR wasn't too hard! I only had to adjust the package, the math was all solid. I think by now you have probably noticed that when including mean and standard deviation into an N(0, 1) distribution, the only change per-random-number that has to made is multiplying by standard deviation and adding mean. Your code does essentially that, but more efficiently (by multiplying only once per two g

[2021-12-03 08:14] aus101 commented on #209
Ah sorry I didn't change the package back. Yes, can use out of the box [0,1) nextDouble() with a multiply then an add but better to officially support versus make the user do the transform for every call.

Probit, that's cool, I know what it means but hadn't seen an implementation in code. So it uses a Remez minmax polynomial most likely initialized with Chebyshev (p/q) polynomial. That's basicall

[2022-01-27 11:00] tommyettinger commented on #27
AStar is vastly improved now (directed and undirected versions on an arbitrary graph), and DijkstraMap is still quite good (I'm trying to make sense of some benchmarks where DijkstraMap is significantly faster than either gdx-ai's or SquidLib's AStar implementation, on top of having extra features like multiple-goal pathfinding). I still don't know what Q-Learning is, nor Value Iteration, but some

[2022-01-27 11:00] #27 closed

[2022-04-16 12:31] fkallsbo opened #211 "Not able to import Graph class when using 3.0.4 but working with 3.0.3"
I wasn't able to import the graph class using

`import squidpony.squidai.graph.Graph;`

When using

    dependencies {
        api "com.badlogicgames.gdx:gdx:$gdxVersion"
        api "com.badlogicgames.gdx:gdx-box2d:$gdxVersion"
        implementation 'com.github.yellowstonegames:squidlib:3.0.4'
        implementation 'com.github.yellowstonegames:squidlib-util:3.0.4'
    }
}`

But chaning version

[2022-04-26 02:34] tommyettinger commented on #211
Investigating now... This seems like something strange.

[2022-04-26 03:44] tommyettinger commented on #211
I need to double-check what the docs give for the correct dependency to use, but the com.github.yellowstonegames group is used for JitPack, where Maven Central releases use com.squidpony . There's another difference, because JitPack needs the name of the GitHub project as well as the Gradle module:
[code]

This seems to be enough in [SquidLib-Demos' BasicDemo project](https://github.com/yellowston

[2022-04-26 03:48] tommyettinger commented on #211
Also, this should work if you don't want a JitPack-compiled release (it gets a stable release from Maven Central):
[code]

[2022-05-24 09:28] #142 closed

[2022-07-08 07:39] lihl666 opened #212 "[Suggestion] Perfect WorldMapGenerator"
Hi,
I just started looking at this library. It's great. But it doesn't have some functions I want.

We can use "WorldMapGenerator" to generate various types of maps. Although it already includes height, biota, etc. I think it still lacks some key elements of game development, such as city, building, road, etc.

I am developing a roguelike game of zombie survival, and I am currently worrying about

[2022-07-09 05:56] tommyettinger commented on #212
[Perfect is the enemy of good.](https://en.wikipedia.org/wiki/Perfect_is_the_enemy_of_good) You won't find a library or framework that can create an absolutely optimal city that fits exactly what you want in your specific game world. SquidLib doesn't have much knowledge of or requirements for what a game needs in it. There needs to be a concept of a wall and a floor for most algorithms to work, bu

[2022-07-09 05:56] #212 closed